@charset "utf-8";

.home_nav .nav_wrap ul li:nth-child(3) a {
	color: rgba(124, 190, 18);
}

.portfolio_wrap {
	display: block;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	background: #fff;
}

.portfolio_inner {
	position: relative;
	display: block;
	width: 100%;
	padding: 30px 0 40px 30px;
	border-radius: 31px;
	box-shadow: 4px 12px 20px 0 rgba(74, 75, 77, 0.2);
	box-sizing: border-box;
}

/* 탭버튼 */
.tab-buttons {
	max-width: 500px;
	width: 100%;
	display: flex;
	gap: 20px;
}

.tab-buttons button {
	background: #fff;
	/* border: 0; */
	font-size: 1.25em;
	font-weight: 600;
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 10px 20px;
	/* max-width: 120px; */
	width: 120px;
	color: #000;
}

.tab-btn.on {
	color: #7cbe12;
}

.tab-btn {
	padding: 10px;
	cursor: pointer;
	margin-right: 10px;
}

.tab-btn.active {
	background-color: green;
	color: white;
}

.tab-content {
	display: none;
}

.tab-content.active {
	display: block;
}

.title h2 {
	display: block;
	margin-left: 23px;
	font-size: 30px;
	font-weight: bold;
}

.title {
	margin-bottom: 40px;
}

.question {
	max-width: 1820px;
	margin: 30px 0 0px 0;
}

.question p {
	height: auto;
	background-color: #fff;
	border: 1px solid #7cbe12;
	box-sizing: border-box;
	border-radius: 15px;
	color: #333;
	font-size: 14px;
}
.maintenance {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	gap: 40px 30px;
}

.maintenance > span {
	display: block;
	width: 300px;
	background-color: #fdfdfd;
	box-shadow: 4px 12px 20px 0 rgba(74, 75, 77, 0.2);
	border-radius: 10px;
	padding: 10px;
	box-sizing: content-box;
}

.maintenance .explan_txt span {
	display: block;
	width: 100%;
	padding: 15px 10px 13px 12px;
	font-size: 1.4em;
	font-weight: 700;
	letter-spacing: 0.02em;
	color: #333;
}

h5:hover + p.arrow_box {
	display: block;
}
.slide-popup {
	max-width: 320px;
	width: 100%;
	height: auto;
	border-radius: 10px;
	cursor: pointer;
	overflow: hidden;
}
.slider_wrap .explan_txt {
	display: block;
	margin: 15px 0;
}
.slider_wrap .explan_txt span {
	display: block;
	text-align: center;
	color: #333;
	font-weight: 600;
	font-size: 16px;
}
.overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 99;
}
.popup {
	width: 50%;
	height: 800px;
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	background-color: #fff;
	z-index: 10000;
	overflow-x: scroll;
}
.close {
	text-align: right;
	display: block;
	font-size: 15px;
	font-weight: 500;
	cursor: pointer;
}

.poo-tit {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	padding: 10px;
	border-bottom: 1px solid #000;
}

.poo-tit h4 {
	font-size: 2rem;
}

.img {
	max-width: 300px;
}

.pop-contant {
	display: flex;
	align-items: center;
}

.pop-contant strong {
	flex: 1;
}

.pop-contant div {
	flex: 1;
}
