@charset "UTF-8";
*{font-family: 'AppleSDGothicNeo', sans-serif;}
*{font-family: 'Noto Sans KR', sans-serif;}
:root {
	---background: #ff914d;
	--background-datker: #f3701d;
	--background-lighter: #fe9d59;
	--background-subtitle: #fff2ea;
}
.pc{
	display: block;
}
.mb{
	display: none;
}
.mb-nev{
	display: none;
}
@media screen and (max-width:1190px){
	.pc{
		display: none;
	}
	.mb{
		width: 100%;
		display: block;
	}
	.mb-nev{
		width: 100%;
		display: block;
		margin-bottom: 10px;
	}
}
.header{
	padding-bottom: 25px;
}
@media (max-width:1200px){
	.header{
		padding-bottom: 1.5625rem;
	}
}

.q-banner{
	position: fixed;
	top: 25%;
	left: 14.7%;
	background:url(/image/quick_banner.png)no-repeat;
	background-position: left center;
	width: 145px;
	height: 355px;
	z-index: 100000;
}
@media screen and (max-width:2108px) {
	.q-banner {
    top: 28%;
		left: 13px;
	}
}
@media screen and (max-width:1575px) {
	.q-banner{
		display: none;
	}
	.view-inner{
		display: none;
	}
	.top-btn-wrap{
		display: none;
	}
}
.view-pro{
	position: fixed;
	top: 25%;
	right: 14.7%;
	z-index: 100000;
}
@media screen and (max-width:2108px) {
	.view-pro{
		top: 28%;
    right: -0.3%;
	}
}
.view-pro .view-inner{
	width: 132px;
	padding: 10px 18px;
	border-radius: 12.61px;
	border: 0.9px solid #8C959F33;
	background:url(/image/view-pro.png) no-repeat;
	border-radius: 12.61px;
	background-position: right center;
}
.view-tit{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.view-tit span{
	display: block;
}
.view-tit span.view{
	font-size: 14px;
	font-weight: 500;
	letter-spacing: -0.02em;
	color: #57606A;
}
.view-tit span.view-count{
	color: #FF914D;
	font-size: 14px;
	font-weight: 800;
	letter-spacing: -0.02em;
}
.por-slie{
	margin: 16px 0;
}
.por-slie ul{
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 358px;
}
.por-slie ul li{
	margin-bottom: 10px;
}
.slide-Pagenav img{
	display: block;
	width: 100%;
}
.slide-Pagenav span.nav-span{
	display: none;
}
.slide-Pagenav span{
	display: none;
}
.view-btn{
	display: block;
	width: 100%;
	max-width:110.81px;
	padding: 11.71px 9.01px;
	border-radius: 9.91px;
	border: 1.44px solid rgba(87, 96, 106, 1);
	margin-top: 19px;
}
.view-btn span{
	display: block;
	text-align: center;
	font-size: 11px;
	font-weight: 500;
	line-height: 11px;
	letter-spacing: -0.02em;
	color:#57606A;
}
.top-btn-wrap{
	margin-top: 15px;
}
@media screen and (max-width:1681px) {
	.top-btn-wrap{
		top: 70%;
    right: 12px;
	}
}
.quick-top{
	display: block;
	width: 140px;
	height: 39px;
}
.content{
	overflow: hidden;
}
#around-wrap {
	max-width: 1920px;
	width: 100%;
	margin: 0 auto;
	position: relative;
}
.around-content {
	max-width: 1280px;
	margin: 0 auto;
}
.width-align {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}
/* 해더 stert*/
.header-wrap {
	padding: 3.75rem 15px;
	box-sizing: content-box;
}
@media screen and (max-width:1190px){
	.header-wrap {
		padding: 3.125rem;
	}
}
@media screen and (max-width:768px) {
	.header-wrap {
    padding: 3.125rem 1.125rem 3.125rem 1.125rem;
	}
}
.header-inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
@media screen and (max-width:1190px){
	.header-inner{
		align-items: center;
		flex-direction: column;
	}
}
/* 로고 */
.logo h1 img{
	display: block;
	width: 100%;
}
.logo h1 span {
	position: absolute;
	left: 0;
	top: 0;
	text-indent: -9999px;
}
/* 검색창 */
.search-wrap {
	max-width: 420px;
	width: 100%;
	min-height: 52px;
	position: relative;
}
.search-wrap .main-form {
	position: relative;
	border: 2px solid #ff914d;
	border-radius: 30px;
	padding: 5px 24px;
	z-index: 999;
}
.search-wrap input {
	border: 0;
	text-align: left;
	outline: none;
	font-size:  0.875rem;
	cursor: pointer;
}
.search-wrap .search-text {
	position: absolute;
	left: 0;
	top: 0;
	text-indent: -9999px;
}
.search-wrap .keyword {
	width: 87%;
	padding: 10px 0;
}
@media (min-width:250px) and (max-width:320px){
	.search-wrap .keyword {
		width: 80%;
	}
}
@media screen and (max-width:249px) {
	.search-wrap .keyword {
		width: 67%;
	}
}
.search-wrap .keyword-btns {
	background: url(../../image/search.png) no-repeat;
	background-position: right center;
	text-indent: -9999px;
	width: 25px;
	height: 25px;
	background-color: #fff;
}

/* 최근/인기 검색어 */
.form-record {
	display: none;
	position: absolute;
	top: 39px;
	left: 0;
	background: #fff;
	padding-top: 52px;
	padding-bottom: 20px;
	width: 420px;
	height: auto;
	border-radius: 27px;
	box-shadow: 1px 22px 34px 0px #00000014;
	z-index: 100;
}
.form-record .form-box {
	padding: 0 27px;
}
.form-record .record {
	display: flex;
	justify-content: space-between;
	margin-bottom: 24px;
}
.form-record .record .recent-search {
	position: relative;
	padding-right: 5px;
}
.form-record .record .recent-search::before {
	content:"";
	clear: both;
	position: absolute;
	right: 0;
	width: 1.6px;
	height: 100%;
	background-color: #d0d7de80;
}
.form-record .record .popular-search {
	padding-left: 12px;
}
.form-record .record > div {
	flex: 1;
}
.recent-title > span {
	display: block;
	margin-bottom: 10px;
	color: #24292f;
	font-size:  0.875rem;
	font-weight: 400;
	letter-spacing: -0.02em;
	text-align: center;
}
.recent-record {
	display: grid;
	gap: 11px;
	margin-bottom: 21px;
}
.recent-record > span {
	display: block;
	position: relative;
	color: #424a53;
	font-size:  0.875rem;
	font-weight: 400;
	letter-spacing: 0em;
}
.recent-record > span::after {
	position: absolute;
	clear: both;
	content:"";
	width: 2px;
	height: 13.5px;
	background: #8c959f;
	left: 129px;
	top: 4px;
	transform: rotate(-45deg);
}
.recent-record > span::before {
	position: absolute;
	clear: both;
	content:"";
	width: 2px;
	height: 13.5px;
	background: #8c959f;
	left: 129px;
	top: 4px;
	transform: rotate(45deg);
}
.recent-btn button {
	max-width: 172px;
	width: 100%;
	border-radius: 8px;
	padding: 7px 10px;
	background: #fff;
	border: 1px solid #d0d7de80;
	box-sizing: border-box;
}
.recent-btn button span {
	display: block;
	font-size:  0.75rem;
	font-weight: 400;
	letter-spacing: 0em;
	color: #57606a;
}
.popular-title {
	margin-bottom: 10px;
}
.popular-title > span {
	display: block;
	margin-bottom: 10px;
	color: #24292f;
	font-size: 0.875rem;
	font-weight: 400;
	letter-spacing: -0.02em;
	text-align: center;
}
.popular-record {
	display: grid;
	gap: 8px;
	margin-bottom: 10px;
}
.popular-record .item span {
	display: inline-block;
	padding: 0;
	letter-spacing: -0.02em;
	font-weight: 400;
	font-size: 0.875rem;
	color: #24292f;
}
.popular-record .item span.numb {
	min-width: 17px;
}
.popular-record .item span.on {
	color: #ff914d;
}
.popular-record .item span.new {
	width: 43px;
	padding: 4px 8px;
	border-radius: 20px;
	color: #000000;
	font-size: 0.875rem;
	font-weight: 400;
	letter-spacing: -0.02em;
	background: #ff914d;
}
.popular-record .item span.icon {
	margin-left: 14px;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 7px solid #7d7d7d;
}
.popular-record .up span.icon {
	margin-left: 14px;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 7px solid #ff914d;
	border-top: 0;
}
.popular-record .item span.name {
	width: 94px;
	padding-left: 5px;
}
.popular-search .popular-btn {
	background: #d0d7de33;
	width: 172px;
	padding: 7px 11px;
	border-radius: 8px;
}
.popular-search .popular-btn span {
	display: block;
	font-size: 0.875rem;
	font-weight: 400;
	letter-spacing: 0em;
	text-align: center;
	color: #57606acc;
}
.search-terms .terms-title {
	margin-bottom: 10px;
}
.search-terms .terms-title span {
	display: block;
	color: #24292f;
	font-size: 0.875rem;
	font-weight: 400;
	letter-spacing: -0.02em;
}
.search-terms .re-keyword {
	display: grid;
	grid-template-columns: repeat(4, 71px);
	gap: 9px;
}
.search-terms .re-keyword span {
	display: block;
	color: #24292f;
	border: 0.89px solid #24292f;
	border-radius: 35.73px;
	padding: 5px 5px;
	text-align: center;
	font-size: 0.75rem;
}
/* 닫기 */
.close-box {
	display: block;
	text-align: right;
	margin-right: 16px;
}
.close-box span {
	position: relative;
	display: block;
	padding: 10px 37px;
	color: #57606acc;
	font-size: 0.875rem;
	font-weight: 400;
	letter-spacing: 0em;
}
.close-box span::before {
	position: absolute;
	clear: both;
	content:"";
	right: 24px;
	top: 12px;
	width: 2px;
	height: 13.5px;
	background: #8c959f;
	transform: rotate(45deg);
}
.close-box span::after {
	position: absolute;
	clear: both;
	content:"";
	right: 24px;
	top: 12px;
	width: 2px;
	height: 13.5px;
	background: #8c959f;
	transform: rotate(-45deg);
}
/* 로그인 */
.side-btn {
	display: flex;
	align-items: center;
	gap: 22px;
}
@media screen and (max-width:1190px){
	.side-btn{
		display: none;
	}
}
.side-btn span {
	font-family: Sandoll GothicNeo1Unicode;
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 12px;
	letter-spacing: 0em;
	text-align: left;
	color: #8c959f;
}

/* 네비게이션 시작*/
.navbar {
	position: relative;
	margin: 0.625rem 15px;
}
@media screen and (max-width:1190px){
	.navbar {
		margin: 0.625rem 0;
	}
}
.navbar::before {
	content:"";
	clear: both;
	position: absolute;
	top: -15px;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #000;
}
@media screen and (max-width:1190px){
	.navbar::before{
		top: -19px;
	}
}
.navbar::after {
	content:"";
	clear: both;
	position: absolute;
	bottom: -15px;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #000;
}
@media screen and (max-width:1190px){
	.navbar::after{
		bottom: -19px;
	}
}
@media screen and (max-width:768px){
	.navbar::after {
		bottom: -3px;
	}
}
.nav-line {
	display: flex;
	padding-left: 1rem;
}
@media screen and (max-width:1190px){
	.nav-line{
		padding: 0 1rem;
	}
}
@media screen and (max-width:768px){
	.nav-line {
    display: block;
    overflow: scroll;
    padding: 0 1rem 1rem 1rem;
		margin-left: 0.5rem;
	}
}
.nav-line .menu {
	display: flex;
	justify-content: space-between;
	width: 52%;
	padding: 0 0.625rem;
}
@media screen and (max-width:1190px){
	.nav-line .menu{
		width: 100%;
	}
}
@media (min-width:250px) and (max-width:768px){
	.nav-line .menu{
		padding: 0;
		gap: 28px;
	}
}
.all-menu {
	max-width: 150px;
  width: 100%;
	background: url(../../image/menu-icon.png) no-repeat;
	background-position: left center;
	cursor: pointer;
}
@media screen and (max-width:1190px){
	.all-menu{
		display: none;
	}
}
.menu-category{
	position: absolute;
  top: 40px;
	display: none;
	width: 246px;
	height: 657px;
	padding: 32px 18px 32px 32px;
	border-radius: 0px 0px 50px 10px;
	background: #FF914D;
	box-shadow: 5px 21px 21px 0px #D27B4680;
	z-index:800;
}
.menu-category>span{
	display: block;
	padding-bottom: 10px;
}
.menu-category span a{
	font-size: 16px;
	font-weight: 500;
	letter-spacing: -0.02em;
	text-align: left;
	color: #FFFFFF;
}

.all-menu>span {
	display: block;
	padding-left: 30px;
	letter-spacing: -0.02em;
	font-size: 1.125rem;;
	font-weight: 800;
	color: #323232;
}
.menu span {
	display: block;
	text-align: center;
	font-size: 1.125rem;
	font-weight: 500;
	letter-spacing: -0.02em;
	color: #323232;
}
/* 네비게이션 끝 */

/* 모바일 네비 시작 */
.mobile-menu {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-bottom: 20px;
}
.m-menu{
	position: relative;
}
.m-menu img{
	/* width: 100%; */
	display: block;
}

/* 모바일 메뉴 시작 */
.m-menu-list{
	display: none;
	width: 100%;
	height: auto;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #fff;
	padding: 35px;
	z-index: 10000000;
}
@media screen and (max-width:768px) {
	.m-menu-list{
		padding: 1.875em;
	}
}
.m-menu-list .m-menu-header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 26px;
}
.m-menu-list .m-menu-login{
	display: flex;
	align-items: center;
	height: 62px;
	padding: 1.375em 1.8125em;
	border-radius: 12px;
	background: rgb(255 145 77 / 18%);
}
.m-menu-list .m-menu-login>span{
	padding-left: 9px;
}
.m-menu-list .m-menu-login span{
	display: flex;
	align-items: center;
	flex: 1 1 auto;
	font-size: 17px;
	font-weight: 500;
	letter-spacing: -0.02em;
	color: #8C959F;
}
@media screen and (max-width:768px) {
	.m-menu-list .m-menu-login span{
		font-size: 0.75rem;
	}
}
.m-menu-list .m-menu-login span strong{
	display: block;
	padding-right: 6px;
	font-weight: 800;
}
@media screen and (max-width:768px) {
	.m-menu-list .m-menu-login span strong{
		font-size: 0.875rem;
	}
}
.m-menu-list .Login-service{
	margin: 1.3125em 0 1.9375em 0;
}
.m-menu-list .Login-service ul{
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.m-menu-list .Login-service ul li span{
	display: block;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: -0.02em;
	color: rgba(36, 41, 47, 1);
	text-align: center;
}
.m-menu-list .Login-service ul li img{
	display: block;
	max-width: 34px;
	width: 100%;
	margin: 0 auto;
}
.m-menu-list .mobile-link{
	display: flex;
	justify-content: space-between;
	margin-top: 1.125em;
	padding: 0 2.6875em 0 2.6875em;
}
@media screen and (max-width:768px){
	.m-menu-list .mobile-link{
		padding: 0;
		padding-bottom: 8rem;
	}
}
.m-menu-list .mobile-link ul{
	display: flex;
	align-items: center;
	justify-content: space-around;
	
}
.m-menu-list .mobile-link ul li span{
	display: block;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: -0.02em;
	color: rgba(36, 41, 47, 1);
}
.m-menu-list .mobile-link ul li img{
	display: block;
}
.m-menu-list .m-menu-main .menu-inner{
	display: flex;
	align-items: center;
	border-top: 1px solid rgba(0, 0, 0, 1);
	border-bottom: 1px solid rgba(0, 0, 0, 1);
	padding: 0.9375em;
}
.m-menu-list .m-menu-main img{
	display: block;
}
.m-menu-list .m-menu-main h5{
	display: block;
	padding-left: 0.5em;
	font-size: 16px;
	font-weight: 800;
	letter-spacing: -0.02em;
	color: rgba(50, 50, 50, 1);
}
@media screen and (max-width:768px) {
	.m-menu-list .m-menu-main h5{
		font-size: 13px;
	}
}
.m-menu-list .m-menu-main .m-menu-list{
	margin-top: 18px;
}
.mobile-link span{
	display: block;
	padding: 0.9375em 0;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: -0.02em;
	color: rgba(87, 96, 106, 1);
}
@media screen and (max-width:768px) {
	.mobile-link span{
		font-size: 12px;
	}
}
/* 푸터 시작 */
.footer-wrap{
	background: rgba(208, 215, 222, 0.1);
	min-height: 182px;
	padding-top: 2.4375rem;
}
.foo-item{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
	display: flex;
	align-items: center;
}
.foo-link + .foo-link{
	margin-left: 30px;
}
@media screen and (max-width:1190px) {
	.foo-link{
    margin-left: 10px;
		margin-top: 13px;
	}
	.foo-link + .foo-link{
    margin-top: 13px;
    margin-left: 10px;
	}
}
@media (max-width:1190px){
	.foo-item{
		justify-content: center;
	}
}
@media (max-width:1190px){
	.foo-logo{
		display: block;
		width: 100%;
		text-align: left;
		margin-bottom: 23px;
	}
	.footer-wrap{
		padding-left: 30px;
	}
	.foo-item{
		justify-content: flex-start;
		flex-direction: column;
		padding-top: 20px;
		padding-bottom: 69px;
	}
	.foo-link{
		display: block;
    width: 100%;
    text-align: left;
	}
}
.foo-item .market-name{
	display: block;
	margin: 0 35px 0 75px;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 0em;
	color: rgba(140, 149, 159, 1);
}
@media screen and (max-width:1190px) {
	.foo-item .market-name{
		width: 100%;
		text-align: left;
		margin: 0 0 0 10px;
		font-size: 16px;
		font-weight: 700;
		letter-spacing: 0em;
	}
}
.foo-item .foo-link span{
	display: block;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0em;
	color: rgba(140, 149, 159, 1);
}

/* 배스트 제품 */
.bset-title{
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 49px;
  margin: 12px auto 19px auto;
}
.bset-title span.title-all{
  padding-left: 10px;
}
.bset-title span.blod{
  font-weight: 800;;
}
.bset-title span{
	font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.02em;
  color: rgba(36, 41, 47, 1);
}
@media (min-width:250px) and (max-width:767px){
	.bset-title span{
		margin-top: 5px;
		font-size: 0.875rem;
	}
}
.por-order label{
  display: none;
}
.por-order{
	padding-right: 10px;
}
.por-order select{
	display: block;
  border: 0;
  text-align: center;
	padding-right: 25px;
  background:url(/image/select-icon.png)no-repeat;
  background-position: right center;
  outline: none;
	padding: 10px 25px 10px 0;
  font-size: 16px;
	text-align: left;
  font-weight: 500;
  letter-spacing: -0.02em;
  color: rgba(87, 96, 106, 1);
}
.por-order option span{
  display: block;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.02em;
  color: rgba(87, 96, 106, 1);
}

@media (min-width:250px) and (max-width:767px){
	.por-order select{
		font-size: 0.75rem
	}
	.por-order option{
		font-size: 0.75rem
	}
	.por-order option span{
		font-size: 0.75rem
	}
}

.product-form{
	margin-bottom: 18.75em;
}
/*.best-box{margin-bottom: 90px;} */
.best-title .title-blod{
	display: block;
	margin-bottom: 40px;
	font-size: 1.5625rem;
	font-weight: 800;
	letter-spacing: -0.02em;
	color: #24292f;
}
@media (min-width:250px) and (max-width:767px){
	.best-title .title-blod{
		font-size: 1.4375rem;
		margin-top: 0.875rem;
	}
}
.service-login .ser-slide {
	max-width: 1200px;
	margin: 0 auto;
	overflow: inherit;
	position: absolute;
	top: 161px;
}
@media (max-width:1190px){
	.service-login .ser-slide{
    top: 81%;
		height: 506px;
	}
}
@media (min-width:768px) and (max-width:926px){
	.service-login .ser-slide {
    width: 94%;
		margin-left: 30px;
	}
	.service-login .swiper-button-prev {
    left: -3%;
	}
	.service-login .swiper-button-next {
		right: -1%;
	}
}
@media (min-width:375px) and (max-width:768px){
	.service-login .ser-slide {
    width: 84%;
    margin-left: 68px;
	}
	.service-login .swiper-button-prev {
		left: -8%;
	}
	.service-login .swiper-button-next {
		right: -1%;
	}
}
@media  (max-width:375px){
	.service-login .ser-slide {
    width: 100%;
    margin-left: 34px;
	}
	.service-login .swiper-button-prev {
		left: -5%;
	}
	.service-login .swiper-button-next {
    right: 16%;
	}
}
.best-tab {
	margin-top: 3.75em;
}
/* @media screen and (max-width:1190px){
	.best-tab {
    margin: 37.25em auto 6.25em auto!important;
	}
}
@media screen and (max-width:1020px){
	.best-tab {
    margin: 50.25em auto 6.25em auto!important;
	}
}
@media screen and (max-width:768px){
	.best-tab {
		margin: 550px auto 6.25em auto!important;
	}
} */
.best-tab  .tabs {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	min-height:64px;
	display: flex;
	justify-content: space-between;
	border-radius: 16px;
	background: rgba(87, 96, 106, 0.1);
}
@media screen and (max-width:1190px) {
	.best-tab  .tabs{
		/* max-width: inherit; */
    overflow-x: scroll;
	}
}
@media (min-width:250px) and (max-width:767px) {
	.best-tab  .tabs{
    max-width: inherit;
    width: 100%;
    overflow-x: scroll;
    border-radius: initial;
	}
}
.best-tab .best-por{
	flex: 1;
	display: block;
	max-width: 220px;
	width: 100%;
	padding: 10px;
	cursor: pointer;
}
@media screen and (max-width:1190px) {
	.best-tab .best-por{
		flex: none;
	}
}
@media screen and (max-width:768px) {
	.best-tab .best-por{
		width: 100%;
    max-width: 146px;
	}
}
@media (min-width:250px) and (max-width:640px){
	.best-tab .best-por{
    width: 100%;
    max-width: 109px;
    margin-left: 21px;
	}
}
.best-tab .best-por span{
	display: block;
	font-size: 1.125rem;
	font-weight: 700;
	letter-spacing: -0.02em;
	color: #424A53;
}
@media (min-width:250px) and (max-width:767px){
	.best-tab .best-por span{
		font-size:0.9375rem
	}
}
.best-tab .best-por.active {
	border-radius: 16px;
	background: #424A53;
}
.best-tab .best-por.active span{
	color: #FFFFFF;
}
.best-content {
	display: none;
	max-width: 1200px;
	margin: 0 auto;
}
/* @media (min-width:768px) and (max-width:1190px){
	.best-content {
		width: 96.55555%;
	}
} */
.best-content.active {
	display: block;
}
/* 베스트 상품 */
.best-content ul{
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 32px 30px;
}
@media screen and (max-width:1190px){
	.best-content ul{
    justify-content: space-around;
	}
}
@media screen and (max-width:950px){
	.best-content ul{
		gap: 0;
		justify-content: space-between;
	}
}
@media screen and (max-width:880px){
	.best-content ul{
		justify-content: space-evenly;
    gap: 40px 5px
	}
}
@media (min-width:250px) and (max-width:767px){
	.best-content ul {
			gap: 43px 0px;
	}
}
.best-content ul li .best-item .pro-img{
	position: relative;
}
.best-content ul li .best-item .pro-img img{
	display: block;
  position: relative;
}
.best-content ul li:nth-child(1) .best-item .pro-img::before{
  content:"";
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(31, 25, 25, 0.6);
  border-radius: 20px;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.best-content ul li:nth-child(even) .best-item .pro-img::before{
  display: block;
  content: "";
  clear: both;
  position: absolute;
  left: 13px;
  bottom: 17px;
  width: 30px;
  height: 43px;
  background: url(../../image/icon1.png)no-repeat;
  background-size: auto;
  z-index: 100;
}

.best-content ul li:nth-child(even) .best-item .pro-img::after {
	display: block;
	content: "";
	clear: both;
	position: absolute;
	left: 0px;
	top: 0;
	width: 266px;
	height: 100%;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.441146) 13.44%, rgba(0, 0, 0, 0.165305) 21.14%, rgba(0, 0, 0, 0) 31%);
	border-radius: 20px;
}
.pro-img .position-txt {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(51%, 100px);
  z-index: 500;
}
.pro-img .position-txt span{
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  text-align: center;
}
.pro-img .position-txt p{
  display: block;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}
@media (min-width:250px) and (max-width:767px){
	.pro-img .position-txt{
    transform: translate(80%, 112px);
	}
	.pro-img .position-txt span{
		font-size:0.9375rem;
	}

	.pro-img .position-txt p{
		font-size: 1.5625rem;
	}
}
.pro-img .position-txt .live-icon{
  position: absolute;
  left: -66px;
  bottom: -83px;
  width: 81.41px;
  padding: 8.6px 9.34px;
  background-color: #000;
  color: #FF253F;
  font-size: 21px;
  font-weight: 800;
  letter-spacing: -0.02em;
  text-align: right;
}
@media (min-width:250px) and (max-width:767px){
	.pro-img .position-txt .live-icon{
    left: -79px;
    bottom: -79px;
    font-size: 0.8125rem;
    width: 69.41px;
    padding: 5.6px 9.34px;
	}
}
.pro-img .position-txt .live-icon::before{
  content: "";
  clear: both;
  position: absolute;
	left: 12px;
	top: 11px;
  background: url(../../image/count-icon.png)no-repeat;
  width: 13px;
  height: 14px;
  background-position: left center;
}
@media (min-width:250px) and (max-width:767px){
	.pro-img .position-txt .live-icon::before{
		width: 13px;
    height: 12px;
		left: 12px;
    top: 7px;
	}
}
.best-content .pro-text .item-text {
	display: block;
	margin-top: 22px;
	margin-bottom: 8px;
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: -0.02em;
	color: #828282;
}
@media (min-width:250px) and (max-width:767px) {
	.best-content .pro-text .item-text{
		font-size: 0.75rem;
	}
}
.best-content .pro-text .item-title {
	display: block;
	font-size: 1.25rem;
	font-weight: 700;
	letter-spacing: -0.02em;
	color: #424a53;
}
@media (min-width:250px) and (max-width:767px){
	.best-content .pro-text .item-title {
		font-size: 1rem;
	}
}
.best-content .pro-text .item-price {
	display: block;
	margin-top: 15px;
	padding-left: 0;
	font-size: 1.5rem;
	font-weight: 800;
	letter-spacing: -0.02em;
	color: #323232;
}
@media (min-width:250px) and (max-width:767px){
	.best-content .pro-text .item-price {
		font-size: 1.125rem;
	}
}
button.more-btn{
	display: block;
	margin: 0 auto;
	width: 620px;
	border: 1px solid rgba(140, 149, 159, 0.5);
	padding: 25px 10px;
	border-radius: 10px
}
@media screen and (max-width:1190px){
	button.more-btn{
		width: 100%;
		max-width: 620px;
	}
}
@media (min-width:250px) and (max-width:767px){
	button.more-btn{
		width: 70%;
	}
}
@media (min-width:250px) and (max-width:640px){
	button.more-btn{
		min-width: 120px;
	}
}
.more-btn span{
	display: inline-block;
	text-align: center;
	font-size: 1.125rem;
	font-weight: 500;
	letter-spacing: -0.02em;
	color: #57606A;
}
.count-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 28px;
  border-top: 1px solid #D0D7DE80;
  box-sizing: border-box;
  padding-top: 5px;
}

@media (min-width:250px) and (max-width:767px){
	.count-item{
		margin-top: 16px;
	}
}
.count-item .txt-box span{
	display: inline-block;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: -0.02em;
	color: #57606A;
}
.count-item .txt-box .number-count{
	display: inline-block;
	font-size: 14px;
	font-weight: 900;
	letter-spacing: -0.02em;
}
@media (min-width:250px) and (max-width:767px){
	.count-item .txt-box .number-count{
		font-size: 0.75rem;  
	}
}
.count-item .mulate-box{
  display: flex;
  align-items: center;
	color: #FF914D;
	
}
.count-item .mulate-box span{
	font-size: 14px;
	font-weight: 900;
	letter-spacing: -0.02em;
}
.count-item .mulate-box .mulate-nber{
	font-size: 16px;
	font-weight: 900;
	letter-spacing: -0.02em;
}
@media (min-width:250px) and (max-width:767px){
	.count-item .mulate-box .mulate-nber{
		font-size: 0.75rem;  
	}
}
.count-img{
  margin-left: 10px;
}

