@charset "utf-8";

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
div,
p,
li,
span,
em,
strong,
a {
    word-break: keep-all;
    word-wrap: break-word;
}
body {
    font-family:'sans-serif';
    letter-spacing: -0.01em;
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
    color: #000;
    font-size: 1.095890411vw;
}
@media (min-width: 1320px) {
    body {
        font-size: 16px;
    }
}
@media (max-width: 768px) {
    body {
        font-size: 3.8888888889vw;
    }
}
@media (max-width: 768px) and (max-width: 360px) {
    body {
        font-size: 3.8888888889vw;
    }
}
h1,
h2,
h3,
h4,
h5 {
    font-size: 1em;
}
nav ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}
del {
    text-decoration: line-through;
}
abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}
table {
    border-collapse: collapse;
    border: 0 none;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
} 
input,
select,
textarea {
    vertical-align: middle;
    box-sizing: border-box;
    border-radius: 0;
    font-family: "NanumSquare", sans-serif;
    font-size: 1em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input {
    margin: 0;
}
input::-ms-clear {
    display: none;
}
select::-ms-expand {
    display: none;
}
img,
fieldset {
    border: 0;
}
ul,
ol,
li {
    list-style-type: none;
}
li img {
    vertical-align: top;
}
button {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    background: rgba(0, 0, 0, 0);
    cursor: pointer;
    font-family: "NanumSquare", sans-serif;
    font-size: 1em;
}
a {
    text-decoration: none;
}
img {
    vertical-align: middle;
    font-size: 0;
}
