@charset "utf-8";

.home_nav .nav_wrap ul li:first-child a {
	color: #333;
}
.home_nav .nav_wrap ul li:nth-child(2) a {
	color: rgba(124, 190, 18);
}

.about_us_wrap {
	display: block;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	background: #fff;
}

.about_inner {
	display: block;
	width: 100%;
	padding: 30px 0 0 30px;
	border-radius: 31px;
	box-shadow: 4px 12px 20px 0 rgba(74, 75, 77, 0.2);
	box-sizing: border-box;
}

.about_inner .title {
	position: relative;
	margin-bottom: 30px;
}

.about_info .info_por {
	display: flex;
	max-width: 966px;
	width: 100%;
}

.about_info .info_por .por_txt {
	flex: 1;
}

.about_info .info-me {
	display: block;
}

.about_info .info-me img {
	max-width: 200px;
	width: 100%;
	border-radius: 15px;
}

.about_inner .title::after {
	position: absolute;
	content: '';
	top: 0px;
	left: 14px;
	width: 7px;
	height: 31px;
	line-height: 16px;
	background-color: #7cbe12;
	border-radius: 0 13px 13px 0;
}

.about_inner .title h2 {
	display: block;
	margin-left: 23px;
	font-size: 30px;
	font-weight: bold;
}

.about_info {
	position: relative;
	margin: 50px 40px;
}

.about_info h3 {
	display: block;
	padding-bottom: 30px;
	font-size: 28px;
	font-weight: 700;
}

.about_info > span {
	display: inline-block;
	font-size: 16px;
	margin: 9px 0;
}

.skill_wrap {
	position: absolute;
	top: -2px;
	left: 86px;
}

.skill_wrap > span {
	display: inline-block;
	border: 1px solid #7cbe12;
	border-radius: 20px;
	padding: 6px 10px;
	font-size: 12px;
	font-weight: 400;
}

.skill_wrap p.my_skili > span {
	display: inline-block;
	border: 1px solid #7cbe12;
	border-radius: 20px;
	padding: 6px 10px;
}

.info-txt {
	line-height: 1.75;
}
.info-txt span {
	display: block;
}

.career_wrap {
	width: 57%;
	margin: 28px 0;
}
.career_inner {
	display: flex;
	justify-content: space-between;
	border: 1.5px solid rgb(124 190 18 / 24%);
	padding: 25px 15px;
	border-radius: 12px;
	background: #7cbe1214;
}

.career_inner > div {
	flex: 1 1 auto;
}

.career_inner .career:nth-child(1) {
	border-right: 1px solid rgb(183 183 183 / 74%);
}

.career_inner .career:nth-child(2) {
	border-right: 1px solid rgb(183 183 183 / 74%);
	padding-left: 10px;
}

.career_inner .career:nth-child(3) {
	padding-left: 10px;
}

.career_inner .career > span {
	display: block;
	font-size: 15px;
	padding-bottom: 10px;
}

.career_inner .career > p {
	line-height: 1.5;
}

.career_inner .career > p > span {
	font-size: 17px;
}

.company_wrap {
	position: relative;
	display: flex;
	max-width: 1000px;
	width: 100%;
	padding: 30px 0;
}

.company_wrap::before {
	position: absolute;
	display: block;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 1.5px;
	background-color: rgb(183 183 183 / 74%);
}

.company_title {
	width: 20%;
	max-width: 150px;
}

.company_title h4 {
	font-size: 20px;
	font-weight: 800;
}

.company_list {
	flex: 1 auto;
	position: relative;
}

.company_wrap .company_list .list {
	display: flex;
	position: relative;
}

.company_wrap:nth-child(1) .company_list .list::after {
	position: absolute;
	display: block;
	content: '';
	bottom: -34px;
	left: 0;
	width: 100%;
	height: 0.5px;
	background-color: rgb(183 183 183 / 74%);
}

.company_wrap:nth-child(1) .company_list .list:last-child:after {
	content: none;
}

.company_wrap:nth-child(2) .company_list .list::after {
	position: absolute;
	display: block;
	content: '';
	top: -34px;
	left: 0;
	width: 100%;
	height: 0.5px;
	background-color: rgb(183 183 183 / 74%);
}

.company_wrap:nth-child(2) .company_list .list:first-child:after {
	content: none;
}

.company_wrap:nth-child(3) .company_list .list::after {
	position: absolute;
	display: block;
	content: '';
	top: -20px;
	left: 0;
	width: 100%;
	height: 0.5px;
	background-color: rgb(183 183 183 / 74%);
}

.company_wrap:nth-child(3) .company_list .list + .list {
	margin-top: 35px;
}

.company_wrap:nth-child(3) .company_list .list:first-child:after {
	content: none;
}
.company_wrap .company_list .list + .list {
	margin-top: 57px;
}

.company_list .com_inner {
	flex: 0.5 auto;
	width: 40%;
}

.company_list .com_inner h5 {
	position: relative;
	font-size: 20px;
	margin-bottom: 15px;
}

.company_list .com_inner h5::after {
	content: '';
	position: absolute;
	display: inline-block;
	clear: both;
	top: 7px;
	left: 94px;
	width: 82px;
	height: 31px;
}

.company_list .com_inner h5.lime_friends::after {
	top: 7px;
	left: 92px;
	width: 76px;
	height: 31px;
	background: url(../images/pc/lime_friends_logo.png) no-repeat;
	background-size: contain;
}

.company_list .com_inner h5.etrlbe::after {
	top: 7px;
	left: 94px;
	width: 82px;
	height: 31px;
	background: url(../images/pc/etrlbe_logo.png) no-repeat;
	background-size: contain;
}

.company_list .com_inner h5.ygn::after {
	top: 3px;
	left: 77px;
	width: 82px;
	height: 21px;
	background: url(../images/pc/ygn_logo.png) no-repeat;
	background-size: contain;
}

.list .com_inner .main_text {
	line-height: 1.75;
}

.list .com_inner .main_text > div {
	margin-top: 15px;
}

.list .com_inner .main_text div span {
	font-size: 15px;
}

.list .com_inner .main_text div span.smail_tit {
	display: block;
	margin-left: 10px;
}

.list .com_inner .main_text div span.font-13 {
	font-size: 13px;
}

.list .com_inner .main_text strong {
	font-size: 15px;
	display: block;
}

.list .com_inner .main_text p.list_up {
	margin-left: 10px;
}
.list .com_inner .main_text p.list_up span {
	display: block;
}

.company_list .com_day {
	flex: 0.5 auto;
}

.company_list .com_day span {
	font-size: 15px;
}
