@charset "utf-8";

/* 메인페이지 이미지 */
.Home_wrap_img {
	position: relative;
	height: 1000px;
	line-height: 999px;
}
.Home_wrap_img img {
	display: block;
	height: 1000px;
	width: 100%;
	filter: blur(3px);
	/* opacity: 0.7; */
}
.Home_wrap_img .Home_inner {
	width: 100%;
	max-width: 1320px;
	margin: 0 auto;
	position: absolute;
	top: 14%;
	left: 17%;
}
.Home_wrap_img .Home_inner .home_img {
	display: block;
	border-radius: 15px;
	width: 100%;
	background: url(../images/pc/bann2.JPG) no-repeat center;
	height: 800px;
	line-height: 799px;
	background-position: center center;
	background-size: 100%;
	border-radius: 30px;
}
