@charset "utf-8";

.home_nav .nav_wrap ul li:nth-child(3) a {
	color: rgba(124, 190, 18);
}

.portfolio_wrap {
	display: block;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	background: #fff;
}

.portfolio_inner {
	display: block;
	width: 100%;
	padding: 30px 0 0 30px;
	border-radius: 31px;
	box-shadow: 4px 12px 20px 0 rgba(74, 75, 77, 0.2);
	box-sizing: border-box;
}

.portfolio_inner .title h2 {
	display: block;
	margin-left: 23px;
	font-size: 30px;
	font-weight: bold;
}

.portfolio_inner .title {
	position: relative;
	margin-bottom: 40px;
}

.portfolio_inner .title::after {
	position: absolute;
	content: '';
	top: 0px;
	left: 14px;
	width: 7px;
	height: 31px;
	line-height: 16px;
	background-color: #7cbe12;
	border-radius: 0 13px 13px 0;
}

.question {
	margin: 30px 0 0px 0;
}

.question h5 {
	position: relative;
	display: inline-block;
	padding-bottom: 30px;
	font-size: 20px;
	cursor: pointer;
}

.question h5 span {
	display: inline-block;
	margin-left: 3px;
	color: #333;
	font-size: 13px;
}
.tenance_wrap,
.make_wrap,
.clone_wrap {
	position: relative;
}

.question h5::before {
	content: '';
	position: absolute;
	clear: both;
	display: inline-block;
	width: 20px;
	height: 22px;
	right: 9px;
	top: -15px;
	background: url(../images/pc/question.svg) no-repeat center;
	background-size: contain;
	z-index: 100;
}

.question:nth-child(2) h5::before {
	right: 0px;
}

.question:nth-child(3) h5::before {
	right: 0px;
}

.question p {
	display: none;
	height: auto;
	background-color: #fff;
	border: 1px solid #7cbe12;
	box-sizing: border-box;
	border-radius: 15px;
	color: #333;
	font-size: 14px;
}

.question h5 ::before:hover p {
	display: block;
}

/* 말풍선 적절한 top 과 margin-left 로 위치조정 */
.arrow_box {
	display: none;
	position: absolute;
	width: auto;
	padding: 8px;
	left: 74px;
	top: -2px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background: #333;
	color: #fff;
	font-size: 14px;
}

.make_wrap .arrow_box {
	left: 47px;
	top: -2px;
}

/* .arrow_box:after {
	position: absolute;
	bottom: 100%;
	left: 50%;
	width: 0;
	height: 0;
	margin-left: -10px;
	border: solid transparent;
	border-color: rgba(51, 51, 51, 0);
	border-bottom-color: #333;
	border-width: 10px;
	pointer-events: none;
	content: ' ';
} */

h5:hover + p.arrow_box {
	display: block;
}

.slider_wrap {
	max-width: 946px;
	width: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.slider_wrap .swiper {
	position: relative;
}

.slider_wrap .btn-left {
	position: absolute;
	background: url(../images/pc/icon_right.svg) no-repeat;
	width: 53px;
	height: 52px;
	text-indent: -9999px;
	top: 123px;
	z-index: 200;
}

.slider_wrap .btn-right {
	position: absolute;
	background: url(../images/pc/icon_left.svg) no-repeat;
	width: 53px;
	height: 52px;
	text-indent: -9999px;
	top: 123px;
	z-index: 200;
}

.swiper-wrapper {
	padding-bottom: 42px;
}
.slider_wrap .swiper .swiper-slide {
	position: relative;
	max-width: 214px;
	width: 100%;
	height: auto;
	border-radius: 8px;
	border: 1px solid rgba(0, 0, 0, 0.05);
	margin-left: 30px;
	cursor: pointer;
	overflow: hidden;
}

.slider_wrap .swiper .swiper-slide img {
	display: block;
	max-width: 214px;
	height: 214px;
}

.slider_wrap .explan_txt {
	display: block;
	margin: 15px 0;
}

.slider_wrap .explan_txt span {
	display: block;
	padding-bottom: 10px;
	color: #333;
	font-weight: 600;
	font-size: 15px;
}
.slider_wrap .explan_txt p {
	display: block;
	height: 100%;
	border: 0;
	font-weight: 400;
}

.slider_wrap .swiper-pagination {
	bottom: 12px;
}
