$main-color: #5FB5A3;
$main-btn-color: #254894;

$main-pink:#E27B6A;
$light-pink:#FFF4F2;

$main-blue:#254894;
$light-blue:#F0F5FF;

$main-yellow:#EFAE66;
$light-yellow:#FFFAEC;

$main-purple:#574CA8;
$light-purple:#F7F5FF;

$main-green:#5FB5A3;
$light-green:#F0F9F7;

