@charset "utf-8";

body {
    min-width: 900px;
}

/* 컨텐츠 웹폰트 */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }

.guide_wrap .guide_lnb h1{
    font-family: 'Pretendard-Regular';
    font-weight: 600;
}

.guide_wrap .guide_lnb .lnb_list li a{
    font-family: 'Pretendard-Regular';
}

.guide_wrap .guide_lnb .lnb_title{
    font-family: 'Pretendard-Regular';
    font-weight: 600;
}

/* span:first-child.pln {
    display: none;
} */
.prettyprint.lang_html {
    line-height: 1.4;
    padding:10px 20px;
}
pre .pln {
    white-space:normal;
}
/* .prettyprint.lang_html span:first-child.pln {
    display: none;
}
.prettyprint.lang_html br +span.pln {
    display: none;
} */
/* .pln +.tag {
    margin-right: 5px;
} */
.guide_wrap {
    display: flex;
}
.guide_wrap .guide_lnb{
    /* top: 125px; */
    flex:0 0 200px;
    position: fixed;
    z-index: 10;
    width: 200px;
    padding-right: 20px;
    height: 100%;
    box-shadow: 4px 5px 4px rgb(0 0 0 / 10%);
    padding-top: 20px;

}
.guide_wrap .guide_lnb h1 {
    display: inline-block;
    position: static;
    line-height: 30px;
    letter-spacing: -0.2rem;
    padding:30px 0;
}
.guide_wrap .guide_lnb h1 strong{
    color: rgb(94 43 184);
}

.guide_wrap .guide_lnb .lnb_title {
    font-size: 20px;
    text-align: center;
}
.guide_wrap .guide_lnb{
    margin-left: 20px;
}
.guide_wrap .guide_lnb .lnb_list{
    margin-top: 20px;
}
.guide_wrap .guide_lnb .lnb_list li {
    height: 40px;
    line-height: 40px;
    padding-left: 36px;
}
.guide_wrap .guide_lnb .lnb_list li + li {
    margin-top: 4px;
}

.guide_wrap .guide_lnb .lnb_list li a {
    font-size: 18px;
    transition: all 0.3s;
}

.guide_wrap .guide_lnb .lnb_list li:hover a{
    color: rgb(94 43 184);
    transition: all 0.3s;
}

.guide_wrap .guide_area {
    flex: 1 1 auto;
    padding-left: 225px;
    padding-top:20px;
    position: relative;
    z-index: 5;
}
.guide_area .guide_item +.guide_item {
    margin-top:40px;
}
h1 {
    position: fixed;
    display: block;
    width: 100%;
    z-index: 100;
    padding:50px 0;
    font-size: 24px;
    text-align: center;
}
/* .title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #000;
} */
.guide_height span{
    display: block;
    margin: 10px 0 0 0;
    padding: 5px 0;
}
.guide_result{
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 20px;
    width: 95%;
    margin: 0 auto;
    border-radius: 10px;
/* 
    background: url(../images/guide_bg.png);
    background-repeat: repeat; */

}
.project_title,
.title{
    color: rgb(94 43 184);
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    width: 95%;
    margin: 0 auto;

    position: relative;
}

.project_title::before,
.title::before{
    position: absolute;
    content: "";
    clear: both;
    left: 0;
    top: 6px;
    width: 4px;
    height: 25px;
    background-color: rgb(77 19 178 / 86%);
}

/* 프로젝트 환경 표 stert */
.project_settings{
    margin-bottom: 20px;
}
/* .guide-item{
    margin-bottom: 30px;
} */
table{
    width: 95%;
    margin: 0 auto;
}
thead{
    height: 30px;
    line-height: 30px;
    background: #ccc;
    color: #333;
    border-top: 1px solid #000;
    box-sizing: border-box;
}
tr>th{
    font-weight: 600;
    font-size: 16px;
    text-align: left;
    padding: 10px;
}
td{
    height: 25px;
    line-height: 25px;
    font-size: 15px;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    padding: 10px;
}
tr{
    border-bottom: 1px solid #ccc;
}

/* 타이틀 style stert */
.main_tit_xl{
    font-size: 26px;
    color: #111;
    font-weight: 700;
}
.main_tit_lg{
    font-size: 24px;
    color: #333;
    font-weight: 600;
}
.main_tit_md{
    font-size: 22px;
    font-weight: 500;
    color: #111;
}
/* 타이틀 style end */

.main_slider .swiper{
    margin-left: 0;
}

/* 탭 메뉴 */
.guide_input{
    margin-top: 0;
}