@charset "utf-8";

div,p,span,table,
th,td,ul,li,ol,dl,
dt,dd,form,fieldset,
input,textarea,select{
	margin:0;
	padding:0;
}

h1,h2,h3,
h4,h5,h6{
	margin:0; 
	padding:0;
	font-size:16px;
	font-weight:normal;
}

*{ 
	margin:0;
	padding:0;
	list-style:none;
	font-family:"Pretendard-Regular","Noto Sans KR", 맑은 고딕, sans-serif, 微软雅黑;
	transition:transform 0.5s, top 0.5s, right 0.5s, bottom 0.5s, left 0.5s, margin 0.5s, padding 0.5s, 
	width 0.5s, height 0.5s, border 0.5s, background 0.5s, color 0.5s, opacity 0.5s, line-height 0.5s;
}


a{text-decoration:none !important; display:block;}
strong{ display:block;}
img{ border:0;}

/* 공통 Style CSS */
.content{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto 100px auto;
    overflow: hidden;
}
.common_cont{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.mb_menu_bg{
    display: none;
}

/* layout:start */

.br_pc{ display:block;}
.br_pad{ display:none;}
.br_m{ display:none;}
@media(max-width:1025px){
	.br_pc{ display:none;}
	.br_pad{ display:block;}
	.br_m{ display:none;}
}
@media(max-width:767px){
	.br_pc{ display:none;}
	.br_pad{ display:none;}
	.br_m{ display:block;}
}


html,
body {
	-webkit-text-size-adjust: none;
	/* 크롬, 사파리, 오페라 신버전 */
	-ms-text-size-adjust: none;
	/* IE */
	-moz-text-size-adjust: none;
	/* 파이어폭스 */
	-o-text-size-adjust: none;
	/* 오페라 구버전 */
}

em,address {
	font-style: normal;
}

body,div,
dl,dt,dd,ul,ol,li,
h1,h2,h3,h4,h5,h6,
pre,code,form,fieldset,
legend,input,textarea,
p,blockquote,th,td,
article,aside,canvas,
details,figcaption,figure,
footer,header,hgroup,nav,
section,time,mark,audio,video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

html {
	overflow-y: scroll;
	box-sizing: border-box;
	font-size: 62.5%;
	font-size: 14px;
	font-weight: 400;
	word-break: keep-all;
	word-wrap: break-word;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

button{
	box-sizing: border-box;
}
body {
	line-height: 1;
	width: 100%;
	height: 100%;
	-webkit-text-size-adjust: none;
}

input:focus,
select:focus {
	outline: transparent !important;
	border: 1px solid #5e2bb8 !important;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,
thead,
tr,th,td,
article,aside,
canvas,details,
embed,figure,figcaption,
footer,header,hgroup,
menu,nav,output,
ruby,section,summary,
time,mark,audio,video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,
figure,footer,header,
hgroup,menu,nav,section {
	display: block;
}

body {
	line-height: 1;
}

ol,ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input:focus {
	outline: none;
}

* {box-sizing:border-box;
}
button {cursor: pointer;}
body {
	-webkit-text-size-adjust: none;
	font-size: 14px;
	font-weight: 400;
	color: #333;
	word-break: break-all;
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: #000;
	font-size: 62.5%;
	font-size: 14px;
	font-weight: 400;
}

img {
	max-width: 100%;
	width: auto;
	border: 0;
	border-style: none;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');