@charset "utf-8";

/* font inter */
/* @font-face {
	font-family: "hnt-font";
	font-weight: 400;
	src: url(https://image.hanatour.com/usr/static/fonts/hnt/OTF/JourneyItself-Regular.otf);
}
@font-face {
	font-family: "hnt-font";
	font-weight: 500;
	src: url(https://image.hanatour.com/usr/static/fonts/hnt/OTF/JourneyItself-Light.otf);
}
@font-face {
	font-family: "hnt-font";
	font-weight: 600;
	src: url(https://image.hanatour.com/usr/static/fonts/hnt/OTF/JourneyItself-Bold.otf);
}
@font-face {
	font-family: "hnt-font";
	font-weight: 400;
	src: url(https://image.hanatour.com/usr/static/fonts/hnt/OTF/JourneyItself-Regular.ttf);
}
@font-face {
	font-family: "hnt-font";
	font-weight: 500;
	src: url(https://image.hanatour.com/usr/static/fonts/hnt/OTF/JourneyItself-Light.ttf);
}
@font-face {
	font-family: "hnt-font";
	font-weight: 600;
	src: url(https://image.hanatour.com/usr/static/fonts/hnt/OTF/JourneyItself-Bold.ttf);
} */

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* 레이어 팝업 시작*/
.head_popup .popup_title{
    display: block;
    text-align: center;
    margin: 10px;
    position: relative;
}
.head_popup .popup_title button{
    background-color: #000;
    color: #fff;
    padding: 10px;
}
.popup_wrap{
    display: none; 
    background-color: rgba(0, 0, 0, 0.719);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9998;
}
.popup_wrap.active{
    display: block;
}

.popup_wrap .popup_contents_wrap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    background-color: #fff;
    color: #000;
    width: 500px;
    height: 500px;
    z-index: 9999;
    display: block;
}

.popup_wrap .close_btn{
    background-image: url(../images/spr_com.png);
    background-repeat: no-repeat;
    background-position: -403px -211px;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9999;
    display: block;
}

.close_btn button{
    border: none;
    background-color: unset;
    text-indent: -9999px;
}







/* 레이어 팝업 끝 */



/* 타이포 css stert*/
.main_tit_xl{
    font-size: 26px;
    line-height: 1.5;
    color: #111;
    font-weight: 700;
    padding-bottom: 22px;
}
.main_tit_xl span{
    color: #000;
}
.main_tit_lg{
    font-size: 24px;
    color: #333;
    font-weight: 600;
    padding-bottom: 30px;
}
.tit_box>h3.main_tit_lg {
    color: #fff;
    font-size: 30px;
    line-height: 38px;
    padding-bottom: 0;
}
.blind{
    text-indent: -9999px;
    position: absolute;
    width: 1px;
    height: 0px;
    overflow: hidden;
}

@media screen and (max-width: 1280px){
    .main_tit_lg{
        padding: 15px 22px 15px 22px;
        font-size: 18px;
    }
    .main_tit_md{
        padding: 0 0 20px 20px;
        font-size: 22px;
        font-weight: 500;
        color: #111;
    }
}

@media screen and (max-width: 768px){
    .main_tit_lg{
        /* margin: 41px 0 20px 0; */
        padding: 0;
        
    }
    .main_tit_md {
        font-size: 16px;
        padding: 0 0 20px 10px;
    }
}
@media screen and (max-width: 375px){
    .main_tit_lg{
        margin: 0
    }

}
/* 타이포 css end*/


/* 상담로봇 css */
.right_wrap {
    width: 120px;
    background-color: #fff;
    border: 1px solid #111;
    position: fixed;
    /* top: 169px; */
    margin-top: -1px;
    right: 0;
    z-index: 100;
}
 .right_wrap > a {
    display: block;
    background-color: #f3f3f3;
    text-align: center;
    font-size: 13px;
    letter-spacing: -1px;
    color: #333;
  }
.right_wrap .por_btn {
    height: 45px;
    line-height: 42px;
  }
.right_wrap .por_btn:after {
    width: 12px;
    height: 8px;
    background-position: -80px -68px;
    margin-left: 7px;
    display: inline-block;
    content: '';
    background-repeat: no-repeat;
    background-image: url(https://image.hanatour.com/usr/static/img2/pc/com/spr_com.png);
  }
.right_wrap .por_btn.on:after {
    background-position: -94px -68px;
    display: inline-block;
    content: '';
    background-repeat: no-repeat;
    background-image: url(https://image.hanatour.com/usr/static/img2/pc/com/spr_com.png);
  }
.right_wrap .btn_go_top {
    height: 30px;
    line-height: 28px;
    border-top: 1px solid #ddd;
  }
.right_wrap .btn_go_top:before {
    width: 10px;
    height: 6px;
    background-position: -107px -70px;
    margin-right: 7px;
    position: relative;
    top: -2px;
    display: inline-block;
    content: '';
    background-repeat: no-repeat;
    background-image: url(https://image.hanatour.com/usr/static/img2/pc/com/spr_com.png);
  } 
  .right_wrap .btn_go_top {
    position: relative;
  }
  .right_wrap .chet_cont .chat_btn {
    display: flex;
    width: 100%;
    height: 110px;
    border: none;
    border-bottom: 1px solid #111;
    align-items: center;
    justify-content: center;
    background: #fff;
  }
  .right_wrap .chet_cont .chat_btn .text {
    display: block;
    font-size: 13px;
    color: #111;
  }
  .right_wrap .chet_cont .chat_btn .text:before {
    content: '';
    display: block;
    width: 38px;
    height: 40px;
    margin: 0 auto 10px;
    overflow: hidden;
    background: url(../images/ico-chatting.png) 50% 50% no-repeat;
    background-size: cover;
  }
  .right_wrap .chet_cont .box_chatting {
    position: absolute;
    top: 0;
    left: 120px;
    width: 400px;
    height: 600px;
    border: 1px solid #bca69f;
    box-shadow: 0px 5px 4px 0 rgba(45, 45, 45, 0.05);
    background: #fff;
    opacity: 0;
    transition: left 0.5s, opacity 0.5s;
    overflow: hidden;
  }
  .right_wrap .chet_cont .chat_btn iframe {
    width: 100%;
    height: 600px;
  }
  .right_wrap .chet_cont.active .chat_btn .text {
    color: #5e2bb8;
  }
  .right_wrap .chet_cont.active .box_chatting .text:before {
    background-image: url('https://image.hanatour.com/usr/static/img/pc/com/ico-chatting-on.png');
  }
  .right_wrap .chet_cont.active .box_chatting {
    left: -413px;
    opacity: 1;
  }
  .right_wrap .por_list {
    width: 100px;
    margin: 10px auto 0;
    display: none;
  }
  .right_wrap.on .por_list {
    display: block;
  }
  .right_wrap .por_list > p {
    text-align: center;
    font-size: 13px;
    line-height: 20px;
    color: #888;
    margin: 40px 10px 30px;
  }
/* 상담로봇 css */


/* 공통 css */
.tab_content{
    display: none;
    max-width: 330px;
    width: 100%;
    margin: 24px 0 40px 0;
    transition: all 0.5s;
}
.tab_content.acitve{
    display: block;
    transition: all 0.3s;
}
.tits_cons{
    display: none;
    margin: 24px 0 40px 0;
    transition: all 0.5s;
}
.tits_cons.acitve{
    display: block;
    transition: all 0.3s;
}
.content_wrap{
    display: none;
    padding: 24px 0 0 0; 
    transition: all 0.5s;
    margin-bottom: 40px;
}
.content_wrap.play{
    display: block;
    transition: all 0.3s;
}
.tab_2 .but_tits span{
    display: inline-block;
}


/* index. style stert */
.wrapper {
    width: 100%;
    background-color: #E2DAF2;
}
.visual_wrap{
    overflow: hidden;
    margin-bottom: 100px;
}
.slide_in{
    display: flex;
    justify-content: center;
    padding: 50px 0;
}
.top_input{
    margin-top: 75px;
}
.main_le{
    display: block;
    max-width: 420px;
    width: 100%;
    margin-right: 15px;
}
.main_le .tab_2 .but_tit{
    border-bottom: none!important;
    display: flex;
}
.main_le .tab_2 .but_tit span{
    display: inline-block;
    width: 100%;
    text-align: left;
}
.tab_2 .but_tits span button {
    border: none;
    border-radius: 30px;
    background-color: #fff;
    width: 75px;
    height: 30px;
    line-height: 30px;
    margin-right: 5px;
    color: #000;
}
.tab_2 .but_tits span button.acitve {
    background-color: #111!important;
    color: #fff!important;
}
.but_tit{
    max-width: 330px;
    display: flex;
    border-bottom: 1px solid #111;

}/*왕복/항공/호텔 버튼 */

.air_inp{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.air_inp input{
    max-width: 140px;
    height: 40px;
    padding-left: 35px;
    color: #111;
}
.inp_box{
    position: relative;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.inp_box i{
    position: absolute;
    left: 16px;
    top: 12px;
}
.inp_box i::before{
    content: "";
    position: absolute;
    clear: both;
    background: url(../images/spr_icn.png) no-repeat -135px 0;
    display: inline-block;
    vertical-align: middle;
    width: 14px;
    height: 14px;
}
.air_inp img {
    display: inline-block;
    width: 22px;
    height: 30px;
    margin: 5px;
    padding-top: 6px;
}
.air_day{
    /* display: flex;
    align-items: center; */
    border-color: #fff;
      height: 50px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #fff;
    color: #111;
    border: 1px solid #ccc;
    box-sizing: border-box;
    position: relative; 
}
.th_inner{
    margin-top: 10px;
}
.th_inner ul li.flight{
    display: flex;
    align-items: center;
    background-color: inherit;
    border: none;
    padding: 0;
    margin-top: 0;
}

.flight .hotel{
    background-color: #fff;
    margin-right: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.card_area1{
    display: none;
}
.card_area1.off{
    display: block;
    position: absolute;
    width: 410px
}

.flight .hotel a{
    display: block;
    width: 100%;
    height: 100%;
    line-height: 50px;
}

.flight:focus{
    border: 1px solid #5e2bb8;
}
.main_but{
    margin-top: 30px;
    transition: all 0.3s;
}
.le_box button,
.main_but button{
    background-color: #333;
    border: 1px solid #333;
    box-sizing: border-box;
    min-width: 140px;
    width: 100%;
    height: 56px;
    line-height: 54px;
    font-size: 17px;
    padding: 0 35px;
    color: #fff;
    transition: all 0.3s;
}/* 패키지&호텔 버튼 */

.le_box button:hover,
.main_but button:hover{
    background-color: #5e2bb8;
    border:1px solid #000;
    transition: all 0.5s;
}
.main_but_th{
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.main_but_th>button{
    background: #fff;
    width: 58px;
    height: 50px;
    border: none;
    color: #111;
}/* 항공 왕복 css */

 .main_le .but_tit>a{
    padding-bottom: 10px;
    background-color: initial!important;
    border: none;
    font-size: 15px;
    line-height: 15px;
    width: calc(100% / 3);
    text-align: center;
    cursor: pointer;
}/* 패키지/항공/호텔 버튼 */

.main_le .but_tit>a.acitve {
    transition: all 0.3s;
    font-weight: 600;
    color: #111!important;
    box-sizing: border-box;
    border-bottom: 1.5px solid #000;
} /* 패키지/항공/호텔 버튼 클릭했을 때 */

 .main_le .tab-content {
    width: 330px;
    overflow: hidden;
} 
.le_input{
    max-width: 330px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: #111;
    border: 1px solid #cdcdcd;
    box-sizing: border-box;
    padding: 15px;
    background-color: #fff;
} /* 슬라이드 검색 버튼 */

.le_box>ul>li {
    display: flex;
    font-size: 15px;
}
.le_box ul li>div{
    display: inline-block;
    position: relative;
}
.le_box>ul>li:nth-child(1){
    display: flex;
    align-items: center;
    /* border: 1px solid #fff; */
}
.bnt_le{
    position: relative;
    margin-right: 10px;
}
.bnt_le, 
.bnt_ri {
    width: 161px;
    height: 42px;
    line-height: 42px;
    box-sizing: border-box;
    background-color: #fff;
    margin-top: 10px;
    padding-left: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.bnt_le span,
.bnt_ri span{
    display: flex;
    align-items: center;
    color: #333;
    cursor: pointer;
}
.bnt_le span i{
    background: url(https://image.hanatour.com/usr/static/img2/pc/com/spr_icn.png) no-repeat -135px 0;
    width: 14px;
    height: 14px;
    display: inline-block;
    margin: 5px;
}
.bnt_ri span i{
    background-image: url(https://image.hanatour.com/usr/static/img2/pc/com/spr_icn.png);
    background-repeat: no-repeat;
    background-position: -135px -18px;
    width: 14px;
    height: 14px;
    display: inline-block;
    margin-right: 7px;
}
.bnt_le ul.btn_a{
    background-color: #fff;
    width: 161px;
    position: absolute;
    left: 0px;
    top: 39px;
    border: 1px solid #5e2bb8;
    box-sizing: border-box;
    z-index: 100;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    display: none;
    transition: all 0.3s;
}
.bnt_le ul.btn_a.active{
    display: block;
    transition: all 0.5s;
}
.bnt_le ul li{
    padding-left: 15px;
    height: 40px;
    line-height: 40px;
}
.bnt_le ul li:hover{
    background-color: #ccc;
}
.bnt_le ul li:first-child{
    padding-top: 10px;
}
.le_box>ul>li:nth-child(2){
    display: flex;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
    margin-top: 10px;
}
.le_box>ul>li:nth-child(2)>div{
    display: inline-block;
    vertical-align: top;
    min-width: 160px;
    min-height: 55px;
    border: 1px solid #333;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 13px;
    opacity: .3;
    position: relative;
    margin-right: 8px;
}
.le_box>ul>li:nth-child(2)>div span i{
    background-position: 0 -26px;
    width: 40px;
    height: 24px;
    background-size: auto;
    left: 18px;
    top: 17px;
    background-repeat: no-repeat;
    background-image: url(https://image.hanatour.com/usr/static/img2/pc/man/spr_man.png);
    vertical-align: top;
}
.le_box>ul>li:nth-child(2)>div:nth-child(2) span i{
    background-position: -42px -26px;
    background-image: url(https://image.hanatour.com/usr/static/img2/pc/man/spr_man.png);
}
.le_box ul li a{
    display: block;
    width: 100%;
}
.le_box ul li .Place01 span{
    background: url(../images/icon_es01.png) no-repeat;
    background-position: 15px 16px;
    width: 100%;
    height: 100%;
    padding: 16px 0 0 70px;
    position: absolute;
    left: 0;
    top: 0px;
}
.le_box ul li .Place02 span{ 
    background: url(../images/icon_es02.png) no-repeat;
    background-position: 15px 15px;
    width: 100%;
    height: 100%;
    padding: 16px 0 0 70px;
    position: absolute;
    left: 0;
    top: 0px;
}

/* 고객님, 어떤 여행을 꿈꾸시나요? 호텔 탭 */
.th_le_input{
    max-width: 330px;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 15px;
    background-color: #fff;
    color: #111;
}
.th_inner ul li{
    height: 50px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #fff;
    color: #111;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
 .hotel{
    width: 100%;
    display: block;
    position: relative;
} 
.hotel a{
   width: 100%;
    height: 100%;
    display: block;
} 
.hotel a i{
    display: inline-block;
    font-size: 15px;
    color: #111;
}
.hotel .rod{
    display: inline-block;
    width: 3px;
    height: 3px;
    border: 1px solid #ccc;
    background: #ccc;
    border-radius: 30px;
    box-sizing: border-box;
    margin: 0 7px;
}
.hotel .icn{
    position: relative;
    left: 0;
    top: 0;
    padding-left: 36px;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    color: #333;
}
.hotel .icn::after{
    content: "";
    clear: both;
    display: inline-block;
    position: absolute;
    background: url(../images/spr_icn.png) no-repeat;
    background-position: -232px -81px;
    width: 16px;
    height: 16px;
    left: 16px;
    top: 18px;
}
.hotel .cal::after{
    background-position: -135px -18px;
}
.hotel .Entity{
    display: inline-block;
    padding: 0 10px;
}
/* 슬라이드 시작*/
.main_slider .swiper {
    height: 610px;
    max-width: 740px;
    width: 100%
}
.main_slider .swiper-slide {
    width: 50%;
    height: 600px;
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_slider .swiper-slide a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.main_slider .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: none;
}
.main_slider  .color_slide .swiper-pagination{
    padding: 10px 0 10px 15px;
    background: rgb(17 17 17 / 47%);
    border-radius: 30px;
    padding-left: 15px;
    text-align: left;
    bottom: 10px;
    max-width: 128px;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    bottom: 80px;
    left: 43px;
    z-index: 1;
    position: relative;
    border:none; 
}
.main_slider .color_slide .swiper-pagination::before{
    content: "|";
    clear: both;
    display: inline-block;
    position: absolute;
    left: 85px;
    top: 7px;
    color: #777;
}
.main_slider .swiper-button-next{
    background: url(../images/page_r2_h.png);
    background-repeat: no-repeat;
    bottom: 0;
    left: 0;
    transform: translate(141px, 248px);
    width: 16px;
    height: 16px;
    position: absolute;
}
.main_slider  .swiper-button-prev{
    background: url(../images/page_l2_h.png);
    background-repeat: no-repeat;
    left:0;  
    bottom: 0;
    transform: translate(107px, 248px);
    z-index: 119;
    width: 16px;
    height: 19px;
    position: absolute;
} 
.main_slider .btn_play{
    appearance: none;
    border:0;
    background-color: transparent;
    background-image: url(../images/stop_paly_icon.png);
    background-color: #fff;
    background-position: 4px 27px;
    background-size: 58px 28px;
    width:30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    left: 180px;
    bottom: 55px;
    z-index: 10;
    transition: all 0s;
} 

.main_slider .btn_play.stop{
    background-position: 27px 27px;
    transition: all 0s;
}

.btn button {
    overflow: hidden;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 40px;
    z-index: 300;
    line-height: 40px;
}
.btn button.Start{
    background: gray;
    color: #fff;
    border: 1px solid red;
}
.btn button.Stop{
    left: 300px;
    line-height: 40px;
    background: #000;
    color: #fff;
    border: 1px solid #fff;
}
.btn_pause {
    background: url('../../images/youtube.png')no-repeat;
    width: 50px;
    height: 50px;
    text-indent: -9999px;
    border: 1px solid red;
    cursor: pointer;
    outline: none;
    display: inline-block;
    z-index: 200;

}/* 슬라이드 재생&정지버튼 */
.btn_pause.on {
    background: url('../../images/instagram.png')no-repeat;
    width: 10px;
    height: 10px;
    text-indent: -9999px;
    border: none;
    cursor: pointer;
    outline: none;

}/* 슬라이드 재생&정지버튼*/

/* 갑자기 찾아온 겨율, 지금 인기 최고 여행지! & 고객님만을 위한 추천여행 공통 css */

/* 갑자기 찾아온 겨율, 지금 인기 최고 여행지! css */
.best_inner>ul{
    display: flex;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
    margin: -7px;
}
.best_inner>ul li{
    /* flex: 1; */
    flex:1 1 25%;
    width: 25%;
    margin:7px;
}
.best_inner>ul li img{
    width: 100%;
    height: 100%;
}
.best_inner>ul li a{
    display: block;
}
.best_inner>ul li .image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 220px;
}

.best_inner>ul li .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.best_inner .offer_text .offer_tit{
    color: #111;
    font-size: 18px;
    display: block;
    padding: 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.best_inner .offer_text  span{
    color: #999;
    display: inline-block;
}
.best_inner .offer_text .offer_tit span{
    display: inline-block;
}
.best_inner .offer_text .unit{
    color: #111;
    font-weight: 600;
    font-size: 22px;
}
.best_inner .offer_text .price_group{
    margin-top: 18px;
}
.price_group .unit{
    color: #111;
    display: block;
    font-size: 22px;
}
.price_group .unit span{
    font-size: 16px;
    color: #111;
}
/* 마침내 특가 추운 겨울에도 여행 텐션 UP!! */
.inner_tab .con_inner {
    position: relative;
}
.but_tit_wrap{
    background: url(../images/inner_bg.jpg) no-repeat;
    width: 434px;
    height: 566px;
    display: inline-block;
    padding-left: 60px;
    background-size: contain;
    background-position: left center;
}
.but_tit_wrap h3{
    padding-top: 64px;
    color: #fff;
    font-size: 36px;
    line-height: 1.3;
    margin-bottom: 40px;
}
/* 마침내 특가 버튼 */
.but_titsx{
    display: inline-flex;
    flex-direction: column;
}
.but_titsx button{
    border: none;
    background-color: #fff;
    color: #000;
    margin: 6px 0;
    border-radius: 30px;
    padding: 7px 20px;
    display: inline-block;
}
.but_titsx button:last-child{

    margin-right: 0;
} 
.but_titsx button.play{
    transition: all 0.3s;
    background-color: #252525!important;
    border-color: #252525!important;
    color: #fff!important;
}
/* 컨텐스 박스 */
.bt_p .inner_tab .con_inner .tab-content{
    position: absolute;
    top: 42px;
    left: 292px;
}
.inner_tab .con_inner .content_wrap ul{
    display: flex;
}
.inner_tab .con_inner .content_wrap ul li{
    background-color: #fff;
    box-shadow: 0px 1px 10px 0px rgb(0 0 0 / 6%);
    margin-left: 24px;
    max-width: 278px;
    width: 100%;
    height: 412px;
}
.inner_tab .con_inner .content_wrap ul li .offer_text{
    padding: 0 15px 10px;
    height: 202px;
}
.inner_tab .con_inner .content_wrap ul li a{
    display: block;
    height: 100%;
}
.inner_tab .con_inner .content_wrap ul li img{
    min-height: 210px;
    object-fit: cover;
}
.inner_tab .con_inner .content_wrap ul li span{
    display: inline-block;
    font-size: 13px;
    color: #6672a4;
    padding: 15px 0;
}
.inner_tab .con_inner .content_wrap ul li .tit_hashtag{
    font-size: 18px; 
    color: #111;
    display: block;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.inner_tab .con_inner .content_wrap ul li .hashtag{
    color: #333;
    display: inline-block;
    line-height: 1.4;
}
.inner_tab .con_inner .content_wrap .price_group {
    margin-top: 18px;
}
.inner_tab .con_inner .content_wrap .price_group .unit{
    color: #111;
    font-weight: 600;
    font-size: 22px;
}
.inner_tab .con_inner .content_wrap .price_group .unit span{
    font-size: 17px;
    color: #111;
    padding: 0;
}
/* 고객님만을 위한 추천여행 */
.tr_off_inner{
    position: relative;
}
 .tr_off_inner .item_wrap{
    position: relative;
    padding: 0 10px;
}
.tr_off_inner .off_slide a{
    display: block;
}
.tr_off_inner .off_slide .image{
    margin-bottom: 10px;
}
 .tr_off_inner .off_slide img{
    min-height: 210px;
    object-fit: cover;
    width: 100%;
}
.tr_off_inner .off_slide .offer_text span{
    font-size: 13px;
    color: #6672a4;
    margin: 7.5px 0;
    display: inline-block;
}
 .tr_off_inner .off_slide .offer_text p{
    color: #111;
    font-size: 18px;
    line-height: 1.5;
}
 .tr_off_inner .off_slide .price_group{
    margin-top: 18px;
}
 .tr_off_inner .off_slide .price_group .unit span{
    font-size: 17px;
    color: #111;
}
 .tr_off_inner .off_slide button{
    opacity: 100%;
    border-radius: 30px;
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    box-sizing: border-box;
    position: relative;
}
 .tr_off_inner .off_slide .offer-next{
    background: url(../images/page_r2.png) no-repeat #fff;
    position: absolute;
    background-position: center;
    right: 0px;
    top: 130px;
    border: 1px solid #c3c3c3;
    border-radius: 30px;
    width: 40px;
    height: 40px;
} 
.tr_off_inner .off_slide .offer-prev{
    background: url(../images/page_l2.png) no-repeat #fff;
    position: absolute;
    background-position: center;
    left: 0px;
    top: 130px;
    border: 1px solid #c3c3c3;
    border-radius: 30px;
    width: 40px;
    height: 40px;
}

/* 하나 Original */
.travel_wrap{
    margin-bottom: 100px;
} 
.travel_sug{
    background-color: rgb(252, 231, 200);
}
.travel_sug .tr_sug .trs{
    display: flex;
}
.travel_sug .trs a{
    overflow: hidden;
    flex: 1 1 auto;
    width: 100%;
}
.travel_sug .trs img{
    display: inline-block;
    transition: all 0.5s;
}
.travel_sug .trs>a>img:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}
.travel_sug .trs  .tr_text{
    display: inline-block;
    width: 100%;
    max-width: 600px;
    position: relative;
    margin-left: 53px;
}
.travel_sug .tr_sug .tr_text .tag{
    font-size: 12px;
    font-weight: bold;
    border-bottom: 2px solid rgb(0 0 0 / 40%);
    display: inline-block;
    padding-bottom: 4px;
    letter-spacing: -0.4px;
    color: #000;
}
.tr_sug .tr_text .tag_title{
    color: #666;
    line-height: 25px;
    margin-top: 25px;
}
.travel_sug .tr_sug ul{
    position: absolute;
    left: 0;
} 
.travel_sug .tr_sug ul li{
    transition: all 0.5s;
}
.travel_sug .tr_sug ul li:hover{
    transform: translateX(10px);
    transition: all 0.3s;
}
.travel_sug .tr_sug ul li:nth-child(2){
    display: inline-block;
    margin-top: 18px;
}
.travel_sug .tr_text .Explan_tit{
    color: #333;
    line-height: 1.5;
    letter-spacing: 0.25px;
}
.travel_sug .tr_sug{
    position: relative;
    padding: 75px 0 65px;
}
.tr_sug .swiper-pagination{
    position: absolute;
    left: 0;
}
.tr_sug .swiper-pagination-bullet{
    width: 10px;
    height: 10px;
    border: 1px solid #000;
    box-sizing: border-box;
    transition: all 0.3s;
}
.tr_sug .swiper-pagination-bullet-active{
    background-color: rgb(94 43 184 / 70%);
    width: 29px;
    height: 10px;
    border-radius: 30px;
    margin: 0 4px;
    border: none;
    transition: all 0.5s;
}
.tr_sug .tr_text ul li .im_tea{
    display: flex;
}
.tr_sug .tr_text ul li .tag_item{
   padding-left: 16px;
}
.tr_sug .tr_text ul li .tag_item .s_item_title{
    font-size: 16px;
    color: #111;
    line-height: 1.2;
    font-weight: 600;
}
.tr_sug .tr_text ul li .tag_item .item_text{
    color: #666;
    line-height: 1.2;
    margin-top: 10px;
}
.tr_sug .tr_text ul li .tag_item .price_group strong{
    font-size: 15px;
    color: #111;
    line-height: 1;
    display: block;
    margin-top: 10px;
    font-weight: 600;
}
.trs .tr_text .product_box .item_title{
    font-size: 32px;
    color: #111;
    display: block;
    margin: 15px 0;
}
.tr_02 .tr_text .product_box{
    margin-top: 10px;
    margin-bottom: 56px;
}
.tr_02 .tr_text .product_box .item_title{
    line-height: 1.2;
}
.tr_01 .tr_text .product_box{
    margin-top: 10px;
    margin-bottom: 35px;
}
.tr_01 .tr_text .product_box:hover,
.tr_02 .tr_text .product_box:hover{
    text-decoration: underline;
    font-weight: 500;
}

/* 내나라 구석구석 */
.Korea_travel ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Korea_travel ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Korea_travel ul li a{
    display: block;
    width: 100%;
    height: 100%;
}
.Korea_travel .item_title{
    font-size: 18px;
    color: #111;
    text-align: center;
    display: block;
    padding: 5px 0;
}
.Korea_travel .item_text{
    color: #666;
    line-height: 1.3;
    padding-top: 10px;
    text-align: center;
}
.Korea_travel img{
    display: block;
    border-radius: 50%;
    width: 190px;
    margin: 0 auto 18px;
}
.Korea_travel ul li:nth-child(3){
    position: relative;
}
/* .Korea_travel ul li:nth-child(3) img{
    width: 300px;
    height: 300px;
} */
.Korea_travel ul li:nth-child(3) span{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 48px;
    color: #fff;
    background-color: #5e2bb8;
    font-size: 12px;
    position: absolute;
    top: 21px;
    right: 33px;
}

/* 떠나자, 하나만 믿고! */
.submain{
    background: url(https://image.hanatour.com/usr/manual/update/pc/main/info/011_bg.jpg) 50% 0px no-repeat;
    height: 749px;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.tit_box{
    margin-bottom: 30px;
}
.submain .submain_inner ul{
    display: flex;
    justify-content: center;
    box-shadow: 0px 15px 15px 0px rgb(0 0 0 / 15%);
    height: 517px;
    background-color: #fff;
}
.submain .submain_inner ul li{
    width: 447px;
}
.submain .submain_inner ul li:nth-child(1){
    background-color: #fff;
    position: relative;
}
.submain_inner ul li a{
    display: block;
    width: 100%;
    height: 100%;
}
.submain_inner ul li .video{
    width: 387px;
    height: 218px;
    position: absolute;
    top: 75px;
    left: 30px;
    right: 30px;
}
.submain_inner ul li .video iframe{
    width: 100%;
    height: 100%;
}
.submain_inner ul li:nth-child(2){
    background: url(https://image.hanatour.com/usr/manual/update/pc/main/info/023_ga.png) 50% 0px no-repeat;
    height: 517px;
    position: relative;
}
.submain_inner ul li:nth-child(2) .get_a::after{
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 322px;
    background: linear-gradient(transparent, rgba(0,0,0,0.4));
}
.video p.item_title{
    padding-bottom: 12px;
    font-size: 20px;
    font-weight: 600;
    color: #111;
}
.video .vid_font{
    font-size: 15px;
    line-height: 22px;
    color: #666;
    margin: 20px 0;
}
.vid_font .item_text{
    line-height: 22px;
    color: #666;
}
.vid_font .arrow_r{
    display: inline-block;
    padding-top: 20px;
    font-size: 13px;
    line-height: 1;
}
.submain_inner ul li .get_a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}
.submain_inner ul li .get_a .get_tit{
    position: relative;
}
.submain_inner ul li:nth-child(2) .con_tit .tit_in{
    position: absolute;
    bottom: 50px;
    z-index: 9999;
    left: 30px;
    display: block;
}
.con_tit .tit_in .item_title{
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    color: #fff;
}
.con_tit .tit_in .item_text{
    line-height: 1.5;
    color: #fff;
    margin-top: 10px;
}
.submain_inner ul li .get_a .item_w{
    margin: 30px 0 0 30px;
}

/* 유튜브 stert */
.submain_inner ul li span.same_tit{
    display: block;
    padding: 25px 25px 0 25px;
    color: #111;
    font-size: 16px;
    font-weight: 500; 
}
/* 첫번째 li */
.submain_inner ul li:nth-child(1) .video .arrow_r{
    position: relative;
    color: #333;
    font-size: 12px;
}
.submain_inner ul li:nth-child(1) .video .arrow_r::before{
    content: "";
    clear: both;
    display: inline-block;
    background: url(../images/spr_btn.png) no-repeat;
    width: 7px;
    height: 12px;
    position: absolute;
    right: -14px;
    background-position: -30px 4px;
    padding: 15px 0;
}
/* 두번째 li */
.submain_inner ul li:nth-child(2) .get_a .arrow_r{
    position: relative;
    color: #fff;
    padding-top: 32px;
    display: inline-block;
    font-size: 12px;
}
.submain_inner ul li:nth-child(2) .get_a .arrow_r::before{
    content: "";
    clear: both;
    display: inline-block;
    background: url(../images/spr_btn.png) no-repeat;
    background-position: -30px -12px;
    width: 7px;
    height: 12px;
    position: absolute;
    right: -14px;
}
/* 세번째 li */
.submain_inner ul li.list_tree{
    width: 306px;
}
.submain_inner ul li.list_tree .get {
    padding: 10px 0;
}
.submain_inner ul li.list_tree .get_a img{
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    width: 220px;
    height: 220px;
}
.submain_inner ul li.list_tree .get_a .item_title{
    font-size: 20px;
    font-weight: 600;
    color: #111;
}
.submain_inner ul li.list_tree .get_a .item_text{
    color: #666;
    line-height: 1.5;
    margin: 15px 0;
}
.submain_inner ul li.list_tree .get_a .arrow_r{
    position: relative;
    color: #333;
    margin-top: 22px;
    display: inline-block;
    font-size: 12px;
    padding-right: 12px;
}
.submain_inner ul li.list_tree .get_a .arrow_r::before{
    content: "";
    clear: both;
    display: inline-block;
    background: url(../images/spr_btn.png) no-repeat;
    width: 1px;
    height: 12px;
    position: absolute;
    right: 0;
    background-position: -28px 0px;
    padding-right: 10px;
}
/* 하나투어닷컴 고객센터 */

.service_center{
    margin-bottom: 100px;
    background: #f7f7f7;
}
.serv_box{
    padding: 70px 0 0;
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.serv_box ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.serv_box ul li{
    position: relative;
    background-color: #fff;
    flex: 1;
    padding: 38px 0;
}
.serv_box ul li + li{
    margin-left: 5px;
}
.serv_box ul li::before{
    content: "";
    clear: both;
    position: absolute;
    background-image: url(../images/spr_man.png);
    background-position: 17px -70px;
    top: 36px;
    left: 30px;
    width: 50px;
    height: 30px;
}
.serv_box ul li:nth-child(2):before {
    background-position: -34px -70px;
    left: 50px;
    width: 30px;
    height: 30px;
}
.serv_box ul li:nth-child(3):before {
    background-position: -62px -70px;
    top: 36px;
    left: 47px;
    width: 33px;
}
.serv_box ul li:nth-child(4):before {
    background-position: -92px -70px;
    width: 34px;
    left: 46px;
}
.servbox ul li:nth-child(5):before {
    background-position: -128px -70px;
    width: 30px;
    left: 48px;
}
.serv_box ul li:nth-child(6):before {
    background-position: -160px -70px;
    width: 30px;
    left: 48px;
}
.serv_box ul li:nth-child(7):before {
    background-position: -191px -70px;
    width: 30px;
    left: 48px;
}
.serv_box ul li:nth-child(8):before {
    background-position: -224px -70px;
    width: 30px;
    left: 48px;
}
.serv_box ul li:nth-child(9):before {
    background-position: -257px -70px;
    width: 30px;
    left: 48px;
}
.serv_box ul li a{
    text-align: center;
    padding-top: 35px;
    font-size: 15px;
}
.inder_time{
    padding: 70px 0 54px;
}
.inder_time .info_wrap{
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #000;
    background-color: #fff;
    padding: 40px;
    width: 1200px;
    max-width:100%;
    margin: 0 auto;
}
.inder_time .info_wrap .info_item01 span.item_innner{
    font-size: 20px;
    line-height: 1.2;
    color: #333;
    margin-bottom: 30px;
    font-weight: 600;
}  
.inder_time .info_wrap .info_item01 p{
    font-size: 24px;
    color: #111;
    margin: 10px 0;
    font-weight: 600;
}
.inder_time .info_wrap .info_item01 span a{
    color: #111;
    margin-top: 13px;
    display: block;
}
.info_wrap .info_item02>div{
    margin-bottom: 30px;
}
.info_wrap .info_item02{
    display: flex;
    flex-direction: column;
}
.info_wrap .info_item02 strong{
    color: #111;
    display: inline-block;
    line-height: 1.5;
    margin-bottom: 5px;
}
.info_wrap .info_item02 span{
    margin: 6px 0 0;
    font-size: 13px;
    color: #666;
    display: block;
}
.info_wrap .info_item03 .counsel{
    line-height: 1.5;
}
.info_wrap .info_item03 strong{
    font-size: 15px;
    color: #111;
    display: block;
    line-height: 1.5;
}
.info_wrap .info_item03  span{
    margin: 6px 0 0;
    font-size: 13px;
    color: #666;
    display: block;
}
.info_wrap .info_item04 ul li strong.item04_tit{
    font-size: 15px;
    color: #111;
    display: block;
    line-height: 1;
    margin-bottom: 3px;
}
.info_wrap .info_item04 ul li span{
    margin: 8px 0 0;
    font-size: 13px;
    line-height: 1;
    color: #666;
}
.info_wrap .info_item04 ul li + li{
    margin-top: 12px;
}
.info_wrap .info_item04 ul li {
    font-size: 15px;
    color: #111;
    display: block;
    line-height: 1.5;
}
.info_wrap .info_item04 ul li button{
    margin-top: 7px;
    line-height: 23px;
    font-size: 12px;
    padding: 0 10px;
    color: #666;
    background-color: #fff;
    border-radius: 4px;
    border: solid 1px #c2c2c2;
}

/* 미디어 쿼리 stert */
@media screen and (max-width: 1280px){
    .best_inner>ul li img{
        border-radius: 20px 20px 0 0;
    }
    .best_inner>ul li a .get {
        border-radius: 20px 20px 0 0;
    }
    .best_inner>ul li .image {
        height: 275px;
    }
    
    .mb_none {
        display: none;
    }
    .service_center {
        display: none;
    }
    .travel_sug .tr_sug {
        padding: 0 0 65px;
    }
    .travel_wrap{
        margin-bottom: 40px;
    } 
    .best_inner>ul li .image{
        height: 500px;
    }
    .visual_wrap{
        margin:0 -15px 30px;
    }
    /* .bt_p{
        margin:0;
    } */
    .w_m{
        width: auto;
        max-width: 100%;
    }
    .best_inner{
        background: #fff;
        margin:20px -15px 0
    }
    .main_le{
        display: none;
    }
    .main_slider .swiper-slide{
        background: inherit;
        border-radius: 30px;
    }
    .main_slider .swiper-slide{
        height: auto;
    }
    .main_slider .swiper{
        height: auto;
    }
    /* .wrapper{
         border-radius: 30px; 
    } */
    .travel_sug .swiper-slide{
       width: 100%;
    }
    .travel_sug .tr_sug .tr_text .tag{
        display: none;
    }
    .travel_sug .tr_sug .trs img{
        position: relative;
        width: 100%;
    }
    .travel_sug .trs .tr_text {
        padding: 20px 30px;
        position: absolute;
        left: 0;
        bottom: 0;
        top: 0;
        right: 0;
        background: linear-gradient(180deg, rgba(255,255,255,10) 10%, rgba(255,255,255,0.1) 80%);
        display: block;
        margin-left: 0;
        max-width: 100%;
        width: 100%;
    }
    .travel_sug .tr_sug ul{
        display: none;
    }
    .Korea_travel ul li a .item_box{
        padding: 20px 20px 40px 20px;
    }
    .Korea_travel .item_title{
        text-align: left;
        font-size: 20px;
    }
    .Korea_travel .item_text{
        text-align: left;
    }
    .Korea_travel ul li .image{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .Korea_travel ul li img{
        width: 100%;
        height: 100%;
        border-radius: 20px 20px 0 0;
    } 
    .submain{
        display: none;
    }
    .inder_wrpper{
        display: none;
    }
    .group01{
        margin-top: 40px;
    }
    .tr_off_inner .item_wrap .swiper-slide{
        border-radius: 16px;
        box-shadow: 0 3px 13px 0 rgb(0 0 0 / 10%);
        width: 33.3333%;
        margin-bottom: 30px;
    }
    .tr_off_inner .off_slide img{
        min-height: 230px;
    }

    /* 갑자기 찾아온 겨울. 지금 인기최고 여행지_s */
    .Korea_travel{
        margin-top: 30px;
    }
    .best_tit h4 {
        display: none;
        font-size: 18px;
        margin-left: 10px;
    }
    .best_inner ul li{
        border-radius: 20px;
        box-shadow: 0 3px 13px 0 rgb(0 0 0 / 10%);
        margin: 0 0 20px 0;
        flex: 1;
        width: 100%;
    }
    .best_inner>ul li+li{
        margin-left: 0;
    }

    .best_inner>ul li .image img{
        width: 100%;
        border-radius: 20px 20px 0 0;
        object-fit: cover;
    }
    /* .best_inner>ul li+li{
        margin: 25px 0;
    } */
    .best_inner .offer_text .offer_tit{
        font-size: 20px;
    }
    .offer_text{
        padding: 20px 20px 40px 20px;
        position: relative;
    }
    .inner_tab{
        display: none;
    }

    .time_wrap{
        background-color: #f5f5f5;
        margin: 15px -15px;
    }
    .time_wrap .time_inner{
        padding: 15px;
    }
    .time_wrap .time_inner .timesale_box{
        padding: 20px 0;
    }
    .time_inner img{
        width: 100%;
    }
    .timesale_box span.timesale_item{
        padding: 10px;
        font-size: 20px;
        font-weight: 500;
        color: #111;
        display: block;
    }
    .timesale_box p{
        padding: 0 10px;
        color: #999;
        font-size: 17px;
        display: block;
    } 
    .time_wrap .time_inner .timesale_box .timesale_Price{
        display: flex;
        padding: 0 10px;
        align-items: center;
        padding: 15px 10px;
    }
    .time_wrap .time_inner .timesale_box .timesale_Price span{
        font-size: 20px;
        color: #ff299c;
        font-weight: 600;
    }
    .time_wrap .time_inner .timesale_box .timesale_Price p .cost{
        font-size: 20px;
        font-weight: 700;
        color: #111;
    }
    .time_wrap .time_inner .timesale_box .timesale_Price p .cost01{
        font-size: 16px;
        color: #888;
    }
    .time_wrap .time_inner .timesale_box .timesale_btn{
        padding: 12px;
        border-radius: 40px;
        font-size: 22px;
        background-color: #302f31;
        letter-spacing: -1px;
        color: #fff;
        text-align: center;
        margin-top: 15px;
    }
    .time_wrap .time_inner .timesale_box .timesale_btn .timesale_wrap{
        font-size: 18px;
        display: flex;
        padding: 10px;
        align-items: center;
        justify-content: center;
    }
    .time_wrap .time_inner .timesale_box .timesale_btn span .before_txt{
        font-weight: 500;
        color: #fff;
    }
    .time_wrap .time_inner .timesale_box .timesale_btn span{
        display: inline-block;
        padding: 0 2px;
    }
    .best_inner>ul{
        flex-direction: column;
        margin: 0 auto;
        width:calc(100% - 40px)

    }
    .Korea_travel ul{
        flex-direction: column;
        width: calc(100% - 10px);
        margin:0 auto;
        /* margin: 20px; */
    }
    .Korea_travel ul li{
        margin-bottom: 30px;
        border-radius: 20px;
        box-shadow: 0 3px 13px 0 rgb(0 0 0 / 10%);
        margin:0 -5px 30px;
        width: calc(100% - 10px);
    }
    .travel_sug .tr_sug .trs{
        position: relative;
    }

    /* 베스트 여행지 시작 */
    .best_travel{
        margin: 0 -15px;
    }
    .best_wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow-x: scroll;
        padding-bottom: 20px;
    }
    .best_travel .best_item{
        background: url(../images/best_travel_img01.jpg) no-repeat;
        width: 240px;
        height: 240px;
        background-size: cover;
        border-radius: 20px;
        flex: 1 0 auto;
    }
    .best_travel .best_item:nth-child(1){
        margin-left: 15px;
    }
    .best_travel .best_item:nth-child(2){
        background: url(../images/best_travel_img02.jpg) no-repeat;
        background-size: cover;
    }
    .best_travel .best_item:nth-child(3){
        background: url(../images/best_travel_img03.jpg) no-repeat;
        background-size: cover;
    }
    .best_travel .best_item:nth-child(4){
        background: url(../images/best_travel_img04.jpg) no-repeat;
        background-size: cover;
        margin-right: 15px;
    }
    .best_travel .best_item + .best_item{
        margin-left: 15px;
    }
    .best_travel .best_item .best_link{
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
    }
    .best_travel .best_item .best_link::after{
        content: "";
        clear: both;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 30%);
        position: absolute;
        left: 0;
        top: 0;
        z-index: 400;
        border-radius: 20px;
    }
    .best_travel .best_item span{
        color: #fff;
        font-size: 22px;
        font-weight: 600;
        display: block;
        padding: 20px 0 0 16px;
        z-index: 500;
        position: absolute;
    }
    .tr_off_inner .off_slide .offer-next,
    .tr_off_inner .off_slide .offer-prev{
        display: none;
    }
    .tr_off_inner .item_wrap {
        padding: 0 25px;
    }
    .tr_off_inner .item_wrap .swiper-slide{
        max-width: auto;
        width: 100%;
    }

}

@media screen and (max-width: 768px){
    .inder_time{
        display: none;
    }
    .Korea_travel ul li{
        padding: 0;
    }

    .best_inner>ul li .image {
        height: 300px;
    }
    .best_inner>ul li a .get{
        height: 300px;
    }
    .Korea_travel ul li .image{
        height: 300px;
    }
}
@media screen and (max-width: 375px){
    .best_inner ul li{
        width: 100%;
        max-width: initial;
    }


}

/* 기능추거 */
.card_area{
    position: absolute;
    width: 370px;
    margin: 0 auto;
    left: 0;
    top: 45px;
    display: none;
}
.bnt_ri.on .card_area{
   display: block;
}

/* 닫기버튼 */
/* .card_area .btn_closed {
    display: block;
} */

.card_area.off{
    display: none;
}


.tableCalendar{
    width: 100%;
}
.card_container {
    width: 410px;
}
.card_container .calendar_container {
    width: 370px;
}
.card_container .calendar_container thead {
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    height: 30px;
    line-height: 30px;
    background: #ccc;
    color: #333;
    box-sizing: border-box;
}
.card_container .calendar_container  tr{
    border-bottom: 1px solid #ccc;
}
.card_container > div {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
}
.card_container > div .content_left {
-webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
        flex: 1 1 auto;
-ms-flex-item-align: end;
    align-self: flex-end;
}
.card_container > div .content_right {
-webkit-box-flex: 0;
    -ms-flex: 0 0 480px;
        flex: 0 0 480px;
margin: 0 -15px;
}
.card_container > div .inner_top .content_left {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: end;
    -ms-flex-align: end;
        align-items: flex-end;
}
.card_container .profile_area {
position: relative;
width: 242px;
height: 79px;
}
.card_container .profile_area:before {
content: "";
position: absolute;
right: 20px;
top: 50%;
width: 16px;
height: 16px;
-webkit-transform: translateY(-50%);
        transform: translateY(-50%);
background: url(../images/ico-chevron-right-gray-md@2x.png);
background-size: 16px;
}
.card_container .profile_area .profile_img {
display: inline-block;
width: 38px;
height: 38px;
padding-top: 7px;
margin-right: 10px;
text-align: center;
border-radius: 8px;
background-color: var(--primary-bg-color);
vertical-align: middle;
}
.card_container .profile_area .profile_img svg {
fill: var(--primary-color);
-webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
}
.card_container .profile_area .profile_detail {
display: inline-block;
vertical-align: middle;
}
.card_container .profile_area .profile_detail strong {
display: block;
font-size: 20px;
line-height: 24px;
letter-spacing: -0.03em;
color: #32363C;
font-family: "Nunito Sans", "Spoqa Han Sans Neo", "Noto Sans KR", "Noto Sans CJK KR", "malgun gothic", sans-serif, Tahoma;
}
.card_container .profile_area .profile_detail .title {
display: block;
font-style: normal;
font-size: 14px;
color: #A4ACB7;
line-height: 16.8px;
}
.card_container .card_lg.menu_tree {
width: 208px;
padding: 12px 15px;
}
.card_container .card_btn_group {
margin-right: 30px;
}
.card_container .card_toolbar {
display: inline-block;
vertical-align: bottom;
margin: 15px;
}
.card_container .card_lg {
display: inline-block;
margin: 15px;
padding: 20px 20px;
background-color: #fff;
border-radius: 12px;
-webkit-box-shadow: 0px 6px 20px rgba(50, 54, 60, 0.1);
        box-shadow: 0px 6px 20px rgba(50, 54, 60, 0.1);
vertical-align: bottom;
}
.card_container .card_lg .card_header {
line-height: 1.2;
margin-bottom: 20px;
}
.card_container .card_lg .card_title {
font-size: 22px;
background: none;
color: #32363C;
}
.card_container .card_calendar {
display: inline-flex;
position: relative;
padding: 20px;
border-radius: 12px;
-webkit-box-shadow: 0px 6px 20px rgba(50, 54, 60, 0.1);
        box-shadow: 0px 6px 20px rgba(50, 54, 60, 0.1);
background-color: #fff;
z-index: 100;
}
.card_container .card_calendar #tableCalendarTitle {
margin-bottom: 12px;
}
.card_container .card_calendar #tableCalendarTitle td {
font-size: 20px;
text-align: center;
}
.card_container .card_calendar #tableCalendarTitle td a {
position: relative;
font-size: inherit;
font-weight: bold;
vertical-align: middle;
color: #32363C;
}
.card_container .card_calendar #tableCalendarTitle td a:hover {
border-radius: 16px;
background-color: #F4F7FB;
}
.card_container .card_calendar #tableCalendar tr th {
    text-align: center;
    padding: 6px 0;
}
.card_container .card_calendar #tableCalendar tr td {
    padding: 6px 0;
    text-align: center;
    height: 25px;
    line-height: 25px;
    font-size: 15px;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
.card_container .card_calendar #tableCalendar tr td a {
    z-index: 100;
    position: relative;
}
.card_container .card_calendar #tableCalendar tr td a:hover::before {
content: "";
position: absolute;
top: calc(50% - 18px);
left: calc(50% - 18px);
width: 36px;
height: 36px;
border-radius: 18px;
z-index: -1;
background-color: #E9EEF4;
}
.card_container .card_calendar .text_red {
color: #FF4D6D;
}
.card_container .card_calendar .text_navy{
    color: navy;
}
.card_container .card_calendar .other_day {
opacity: 0.5;
}
.card_container .card_calendar .today {
color: var(--primary-color);
-webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
}
.card_container .card_calendar .today::before {
content: "";
position: absolute;
top: calc(50% - 18px);
left: calc(50% - 18px);
width: 36px;
height: 36px;
border-radius: 18px;
z-index: -1;
background-color: var(--primary-bg-color);
-webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
}
.card_container .card_calendar .prev,
.card_container .card_calendar .next {
display: inline-block;
width: 32px;
height: 32px;
line-height: 32px;
border: 0;
padding: 0;
background: url(../images/ico-md-chevron-left-darkgray@2x.png) no-repeat center center;
background-size: 32px auto;
text-indent: -9999px;
text-align: left;
overflow: hidden;
}
.card_container .card_calendar .prev:hover::before,
.card_container .card_calendar .next:hover::before {
content: "";
position: absolute;
top: calc(50% - 16px);
left: calc(50% - 16px);
width: 32px;
height: 32px;
border-radius: 16px;
z-index: -1;
background-color: #E9EEF4;
}
.card_container .card_calendar .prev {
background-position: right center;
}
.card_container .card_calendar .next {
background-image: url(../images/sub_btn_page_bg_bg);
background-position: left center;
}
.card_container .card_calendar .btn_closed {
position: absolute;
top: 0;
right: 0;
width: 32px;
height: 32px;
background: url(../images/ico-alllmenu_close.png) center center no-repeat;
background-size: 16px;
text-indent: -9999px;

}



.card_container .card_calendar .btn_closed:hover {
width: 32px;
height: 32px;
border-radius: 16px;
background-color: #F4F7FB;
}
.card_container .tab_menu {
margin: 15px;
}
.card_container .tab_list {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
height: 40px;
background-color: #fff;
border-radius: 12px;
-webkit-box-shadow: 0px 6px 20px rgba(50, 54, 60, 0.1);
        box-shadow: 0px 6px 20px rgba(50, 54, 60, 0.1);
}
.card_container .tab_list li {
-webkit-box-flex: 1;
    -ms-flex: 1;
        flex: 1;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
border-radius: 12px;
}
.card_container .tab_list li.on {
background-color: var(--primary-color);
-webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
}
.card_container .tab_list li.on a {
color: #fff;
}
.card_container .tab_list li a {
color: #7B838C;
height: 100%;
}
.card_container .form_control {
background-color: #fff;
border: 1px solid #DCDCE1;
}
.card_container .form_datepicker {
width: 154px;
}
.card_container .form_search {
width: 100%;
padding-left: 30px;
background: url(../images/ico-search-gray-md.png) 10px center no-repeat;
background-size: 16px 16px;
}
.card_container .site_menu {
border-radius: 12px;
max-height: 200px;
overflow: auto;
}
.nav_mode_2 .card_container .site_menu {
max-height: none;
}
.card_container .site_list {
font-weight: 500;
font-size: 13px;
line-height: 16px;
}
.card_container .site_list a {
display: block;
padding: 10px 8px;
border-radius: 4px;
font-size: 15px;
}
.card_container .site_list > li {
position: relative;
}
.card_container .site_list > li:before {
content: "";
position: absolute;
top: 14px;
left: 0;
width: 8px;
height: 8px;
background: url(../images/ico-caret-right-darkgray-xs.png) no-repeat;
background-size: 8px;
}
.card_container .site_list > li.on:before {
-webkit-transform: rotate(90deg);
        transform: rotate(90deg);
}
.card_container .site_list ul {
margin-left: 12px;
}
.card_container .site_list > li > a {
padding-left: 30px;
margin-left: 13px;
background: url(../images/ico-file-gray-md@2x.png) 4px center no-repeat;
background-size: 16px 16px;
}
.card_container .site_list > li > a:hover {
border-radius: 8px;
background-color: hsl(213deg, 43%, 97%);
color: var(--primary-color);
}
.card_container .site_list > li > ul > li a {
position: relative;
padding-left: 51px;
background: url(../images/ico-page-gray-md@2x.png) 26px center no-repeat;
background-size: 16px 16px;
}
.card_container .site_list > li > ul > li a:hover {
border-radius: 8px;
background-color: hsl(213deg, 43%, 97%);
color: var(--primary-color);
}
.card_container .chart_area {
width: 200px;
height: 100px;
}
.card_container .form_group {
width: 169px;
padding: 8px;
}
.card_container .form_group .check_item {
position: relative;
display: block;
width: 100%;
}
.card_container .form_group .check_item [type=radio] + label {
width: 100%;
padding: 10px 13px;
font-weight: 500;
}
.card_container .form_group .check_item [type=radio] + label:before {
position: absolute;
right: 12px;
top: 50%;
margin: 0;
-webkit-transform: translateY(-50%);
        transform: translateY(-50%);
}
.card_container .form_group .check_item:hover {
border-radius: 10px;
background-color: #F4F7FB;
}
.card_container .form_group .check_item + .check_item {
margin-left: 0;
}
.card_container .form_date_group {
padding: 24px 28px;
}
.card_container .form_date-group dl {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
width: 100%;
}
.card_container .form_date_group dl dt {
-ms-flex-item-align: center;
    align-self: center;
width: 70px;
font-size: 16px;
font-weight: bold;
}
.card_container .form_date_group dl dd {
-ms-flex-item-align: center;
    align-self: center;
width: calc(100% - 70px);
}
.card_container .form_date_group dl + dl {
margin-top: 12px;
}
.card_container .form_date_group .flex_group {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
}
.card_container .form_date_group .flex_group .datepicker {
width: 154px;
}
.card_container .form_date_group .btn_group {
margin: 20px 0 0;
}
.card_container .form_date_group .btn_group .btn {
padding: 0 12px;
height: 36px;
}
.card_container .form_date_group .btn_group .btn + .btn {
margin-left: 4px;
}
.card_container .form_date_group .form_control {
border-radius: 6px;
}
.card_container .form_date_group .form_control:focus {
border-color: var(--primary-color);
}
.card_container .theme_setting {
width: 221px;
}
.card_container .theme_setting .theme_group {
margin: -12px -7px;
}
.card_container .theme_setting .theme_group ul {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.card_container .theme_setting .theme_group ul li {
-ms-flex-item-align: center;
    align-self: center;
}
.card_container .theme_setting .btn_theme {
position: relative;
width: 38px;
height: 38px;
margin: 12px;
background-color: currentColor;
text-indent: -9999px;
font-size: 0;
border-radius: 19px;
}
.card_container .theme_setting .btn_theme span {
position: absolute;
top: 0;
left: 0;
display: block;
width: 38px;
height: 38px;
background-color: inherit;
border-radius: 19px;
z-index: 100;
}
.card_container .theme_setting .btn_theme.red {
background-color: hsl(349deg, 75%, 54%);
}
.card_container .theme_setting .btn_theme.yellow {
background-color: hsl(43deg, 98%, 52%);
}
.card_container .theme_setting .btn_theme.orange {
background-color: hsl(29deg, 100%, 50%);
}
.card_container .theme_setting .btn_theme.green {
background-color: hsl(162deg, 100%, 37%);
}
.card_container .theme_setting .btn_theme.blue {
background-color: hsl(226deg, 100%, 59%);
}
.card_container .theme_setting .btn_theme.indigo {
background-color: hsl(226deg, 73%, 31%);
}
.card_container .theme_setting .btn_theme.purple {
background-color: hsl(263deg, 94%, 60%);
}
.card_container .theme_setting .btn_theme.pink {
background-color: hsl(333deg, 90%, 61%);
}
.card_container .theme_setting .btn_theme.black {
background-color: hsl(0deg, 0%, 0%);
}
.card_container .theme_setting .btn_theme.active {
width: 32px;
height: 32px;
margin: 15px;
-webkit-box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.7);
        box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.7);
}
.card_container .theme_setting .btn_theme.active span {
width: 32px;
height: 32px;
}
.card_container .theme_setting .btn_theme.active:before {
content: "";
position: absolute;
top: calc(50% - 6px);
left: calc(50% - 6px);
height: 12px;
width: 12px;
background: linear-gradient(240deg, #FF9548, #FF523A, #F72773, #A127FF, #6035FD, #567BFF, #4FA8FB, #00B493);
border-radius: 12px;
-webkit-animation: animatedgradient 5s alternate infinite;
        animation: animatedgradient 5s alternate infinite;
background-size: 250% 250%;
z-index: 200;
}
.card_container .theme_setting .btn_theme.active:after {
content: "";
position: absolute;
top: -3px;
left: -3px;
height: 38px;
width: 38px;
background: linear-gradient(240deg, #FF9548, #FF523A, #F72773, #A127FF, #6035FD, #567BFF, #4FA8FB, #00B493);
border-radius: 38px;
-webkit-animation: animatedgradient 5s alternate infinite;
        animation: animatedgradient 5s alternate infinite;
background-size: 300% 300%;
}

@media screen and (max-width:767px) {
    .main_slider .btn_play {
        display: none;
    }
}