/* 
font-family: "Song Myung", serif;
font-family: "GmarketSansMedium", sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');



@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'Paperlogy-8ExtraBold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

body {
  color: #fff;
  font-family: "NexonLv1Gothic";
  font-weight: 300;
  background-color: #333;
}

.mainTitle {
  font-weight: bold;
  font-family: "GmarketSansMedium", sans-serif;
}

.contants-wrap {
  /* background: #000; */
  padding: 0 30px;
}

@media screen and (max-width:1440px) {
  .contants-wrap {
    padding: 1rem 0 0 0;
  }
}

.tagBg {
  color: #333;
  font-size: 15px;
  padding: 42px 0 18px 0;
  font-weight: 700;
  font-family: sans-serif;
}

@media screen and (max-width:426px) {
  .tagBg {
    font-size: 13px;
    width: 67%;
    padding: 18px 0 21px 1px;
    text-align: center;
  }
}

@media screen and (max-width:426px) {
  .tagBg {
    display: block;
  }
}

.sm-text .color-white {
  color: #fff;
}

.padding-1 {
  padding: 24px 0 18px 0;
}

.fontTitle {
  line-height: inherit;
  font-size: 2rem;
  padding: 10px;
}

@media screen and (max-width:990px) {
  .fontTitle {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 320px) {
  .fontTitle {
    font-size: 15px;
  }
}

.fontTitle-xl {
  line-height: inherit;
  font-size: 30px;
}

@media screen and (max-width:768px) {
  .fontTitle-xl {
    font-size: 25px;
  }
}

.text-sm {
  line-height: inherit;
}

.tag {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 20px;
  gap: 10px;
}

@media screen and (max-width:320px) {
  .tag {
    flex-wrap: wrap;
  }
}

.tag span {
  font-size: 1.2rem;
  font-weight: 600;
}

@media screen and (max-width:1440px) {
  .tag span {
    font-size: 1rem;
  }
}

@media screen and (max-width:768px) {
  .tag span {
    font-size: 14px;
  }
}

.justify-center {
  justify-content: center;
}

.image {
  background-color: #000;
}

.gap-15 {
  gap: 15px;
}

.gap-70 {
  gap: 70px;
}

.section3 {
  display: flex;
  flex-direction: column;
}

#menu {
  z-index: 1000;
  border-radius: 0 0 15px 15px;
  max-width: 323px;
}

@media screen and (max-width:1440px) {
  #menu {
    max-width: inherit;
    width: 100%;
    background: #000000;
    z-index: 10000;
    margin-bottom: 2rem;
    border-bottom: 1px solid #6d6d6d;
    border-radius: initial;
  }
}

.menu-link {
  color: #333;
}

@media screen and (max-width:1520px) {
  .menu-link {
    font-size: 2.8rem;
  }
}

@media screen and (max-width:1420px) {
  .menu-link {
    font-size: 2rem;
  }
}

@media screen and (max-width: 990px) {
  .menu-link {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 375px) {
  .menu-link {
    font-size: 19px;
  }
}

.menu-link.active {
  color: #fff;
  /* 활성화된 링크의 색상 */
}

#menu.fixed {
  position: fixed;
  top: 0;
  left: 0;
}

#menu.hidden {
  display: none;
}

.section3>div {
  width: 100%;
}

.section {
  padding-top: 10px;
  margin-bottom: 13rem;
  /* 네비게이션 높이만큼 패딩 추가 */
}

@media screen and (max-width:990px) {
  .section {
    padding-bottom: 8rem;
  }
}

@media screen and (max-width:768px) {
  .section {
    padding-bottom: 0rem;
    margin-bottom: 0;
  }
}

.educationbox {
  padding-top: 5rem;
  height: 75vh;
}

@media screen and (max-width:1500px) {
  .educationbox {
    height: initial;
    padding-bottom: 10rem;
  }
}

.educationItem {
  flex-direction: column;
}

.educationItem-title {
  flex-direction: column;
}

.educationItem-ul {
  font-family: sans-serif;
  color: #c7c7c7;
}

.education-strong {
  font-family: emoji;
}

.education-strong-lang {
  font-family: emoji;
}

.career-txt {
  font-size: 16px;
}

@media screen and (max-width:1000px) {
  .career-txt {
    font-size: 14px;
  }
}

.memoji {
  transition: width 0.3s ease;
  width: 400px;
  /* 초기 크기 */
}

.text-center {
  text-align: center;
}

h3.title {
  position: relative;
  font-size: 10rem;
  color: #ffbfbf;
  text-align: center;
  text-transform: capitalize;
  font-family: "Pretendard-Regular", serif;
}


@media screen and (max-width:1440px) {
  h3.title {
    font-size: 6rem;
  }
}


@media screen and (max-width:900px) {
  h3.title {
    font-size: 85px;
  }
}

@media screen and (max-width:768px) {
  h3.title {
    font-size: 68px;
  }
}

@media screen and (max-width:320px) {
  h3.title {
    font-size: 52px;
  }
}

.main-title {
  position: relative;
}

@media screen and (max-width:990px) {
  .main-title {
    margin-top: 4rem;
  }
}

.mainSubTitle {
  font-family: "GmarketSansMedium", sans-serif;
  width: 100%;
  position: absolute;
  left: 50%;
  bottom: -29px;
  text-align: center;
  font-weight: 500;
  font-size: 4rem;
  transform: translate(-50%, -2%);
  color: rgb(123 123 123 / 76%);
}

@media screen and (max-width:1440px) {
  .mainSubTitle {
    font-size: 2.1rem;
  }
}

@media screen and (max-width:1280px) {
  .mainSubTitle {
    font-size: 40px;
  }
}

@media screen and (max-width:990px) {
  .mainSubTitle {
    font-size: 35px;
  }
}

@media screen and (max-width: 768px) {
  .mainSubTitle {
    bottom: -9px;
    font-size: 18px;
  }
}

.mainSubTitle strong {
  font-family: "GmarketSansMedium", sans-serif;
  font-weight: bold;
  color: #fff;
}

.section2 {
  margin-top: 14rem;
  margin-bottom: 10rem;
}

@media screen and (max-width:1440px) {
  .sec2Title {
    font-size: 2rem;
  }
}

@media screen and (max-width:320px) {
  .sec2Title {
    font-size: 18px;
  }
}

@media screen and (max-width:1440px) {
  .items {
    width: 100%;
  }

  .items>div {
    justify-content: flex-start;
    gap: 29px;
  }
}

@media screen and (max-width:768px) {
  .items>div {
    flex-wrap: wrap;
  }
}

@media screen and (max-width:1440px) {
  .flex-layout {
    padding: 0 10rem;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width:990px) {
  .flex-layout {
    padding: 0 10rem;
    gap: 30px;
  }
}

@media screen and (max-width:768px) {
  .flex-layout {
    padding: 0 8rem;
  }
}

@media screen and (max-width:640px) {
  .flex-layout {
    padding: 0 5rem;
  }
}

@media screen and (max-width:320px) {
  .flex-layout {
    padding: 0 20px;
  }
}

.titleSm {
  padding-bottom: 12px;
  display: block;
  font-size: 24px;
}

@media screen and (max-width:1440px) {
  .titleSm {
    font-weight: 300;
    font-size: 1.3rem;
  }
}

@media screen and (max-width:320px) {
  .titleSm {
    font-size: 16px;
  }
}

.gif {
  transition: all 0.8s;
}

.gif:hover {
  transform: scale(1.2);
  transition: all 0.5s;
}

@media screen and (min-width:1980px) and (max-width:2560px) {
  .wrapContent {
    max-width: 1400px;

  }
}

#tab1 {
  cursor: pointer;
  overflow: hidden;
}

.tab-content {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease;
  position: relative;
  gap: 15px 20px;
}

@media screen and (min-width:2560px) {
  .tab-content {
    gap: 27px 35px;
  }
}

@media screen and (max-width:1440px) {
  .tab-content {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (max-width:990px) {
  .tab-content {
    gap: 50px 20px;
  }
}

.tab-content.active {
  display: flex;
  opacity: 1;
  flex-wrap: wrap;
  justify-content: flex-start;
}

@media screen and (max-width:1440px) {
  .tab-content.active {
    justify-content: space-evenly;
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (max-width:1280px) {
  .tab-content.active {
    max-width: 1240px;
  }
}

@media screen and (max-width:990px) {
  .tab-content.active {
    justify-content: center;
    width: 100%;
  }
}


.tab-buttons {
  display: flex;
  width: 100%;
  flex: 1 0 auto;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  padding: 44px 2px 0 2px;
  background: #2a2a2a;
  border-radius: 0 15px 15px 0;
}

@media screen and (min-width:1440px) {
  .tab-buttons {
    max-width: 190px;
  }
}

@media screen and (max-width:1440px) {
  .tab-buttons {
    justify-content: space-between;
    flex-direction: row;
    max-width: initial;
    padding: 10px;
    border-radius: 30px;
    margin-bottom: 3rem;
    width: 26%;
    margin: 0 auto 3rem auto;
  }
}

@media screen and (max-width:990px) {
  .tab-buttons {
    width: 58%;
  }
}

@media screen and (max-width:320px) {
  .tab-buttons {
    width: 96%;
  }
}

.tab-btn {
  max-width: 118px;
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
  padding: 7px;
  font-size: 16px;
  text-align: center;
  color: #fff;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s;
}

.tab-btn.active {
  border-radius: 30px;
  padding: 3px 2rem;
  font-weight: bold;
  font-size: 1rem;
  color: #000;
  text-align: center;
  background-color: rgb(241 242 245);
  font-weight: 500;
  display: inline-block;
}

.secNav {
  max-width: 309px;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (max-width:1440px) {
  .secNav {
    flex-direction: row;
    max-width: inherit;
    width: 100%;
    gap: 30px;
  }
}

@media screen and (max-width:375px) {
  .secNav {
    flex-wrap: wrap;
  }
}

.wrap {
  position: relative;
}

#card {
  overflow: hidden;
  position: relative;
  max-width: 286px;
  width: 100%;
  border-radius: 15px;
  background: #333333db;
  height: 100%;
}

@media screen and (max-width:1520px) {
  #card {
    max-width: 240px;
    width: 100%;
  }
}

@media screen and (max-width:990px) {
  #card {
    max-width: 290px;
  }
}

@media screen and (max-width: 632px) {
  #card {
    max-width: inherit;
    width: 100%;
    height: inherit;
  }
}

@media screen and (min-width:2580px) {
  .cardTitle-lg {
    font-size: 23px;
    font-weight: bold;
  }
}

@media screen and (max-width:1280px) {
  .cardTitle-lg {
    font-size: 18px;
    font-weight: bold;
  }
}

@media screen and (max-width:768px) {
  .cardTitle-lg {
    font-weight: 600;
  }
}

.cradTitle-basic {
  font-size: 14px;
  color: #c4c4c4;
}

@media screen and (max-width:1000px) {
  .cradTitle-basic {
    font-size: 12px;
  }
}

.txt-box>h2 {
  font-size: 1.2rem;
  font-weight: 600;
}


.tagLlist {
  flex-wrap: wrap;
  padding-top: 13px;
}

@media screen and (max-width:1000px) {
  .tagLlist {
    gap: 7px;
  }
}

@media screen and (max-width:768px) {
  .tagLlist {
    flex-wrap: wrap;
  }
}


#card .hoverItme {
  /* display: flex; */
  display: none;
  transition: all 0.7s;
}

@media screen and (max-width:768px) {
  #card .hoverItme {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 14px 5px;
  }
}

#card:hover .hoverItme {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #1c1c1c;
  z-index: 200;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 0 3rem;
  transition: all 0.5s;
  border: 1.2px solid rgb(101 101 101);
  border-radius: 15px;
}

/* .hoverItme{
  opacity: 0;
} */

/* .card:hover .hoverItme {
  opacity: 1;
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  left: 0;
  background-color: #444444;
  transition: all 0.3s;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.card:hover .hoverItme strong {
  width: 100%;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 20px;
}

.card:hover .hoverItme .btn {
  border: 1px solid #fff;
  display: inline-block;
  padding: 5px 0;
  width: 150px;
  margin: 1rem auto 0 auto;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 99;
}

.popup {
  overflow: scroll;
  width: 67%;
  height: 800px;
  display: none;
  position: fixed;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255 255 255 / 91%);
  z-index: 10000;
}

@media screen and (max-width:1200px) {
  .popup {
    width: 65%;
    height: 686px;
  }
}

@media screen and (max-width:640px) {
  .popup {
    width: 86%;
    height: 532px;
  }
}

.close {
  display: block;
  max-width: 33px;
  position: absolute;
  right: 12px;
  top: 8px;
  z-index: 1000;
  cursor: pointer;
}

.moerBtn {
  border: 1px solid #fff;
  width: 100%;
  display: block;
  padding: 8px;
  font-size: 14px;
  font-weight: 500;
  font-family: 'GmarketSansMedium';
}

@media screen and (max-width:768px) {
  .moerBtn {
    font-size: 12px;
    font-weight: 200;
    padding: 10px 3px;
  }
}

.gitHub {
  margin: 16px;
  border: 1px solid #fff;
  width: 100%;
  display: block;
  padding: 8px;
  font-size: 14px;
  font-weight: 500;
  font-family: 'GmarketSansMedium';
}

@media screen and (max-width:768px) {
  .gitHub {
    font-size: 12px;
    font-weight: 200;
    padding: 10px 3px;
  }
}

.tegItem {
  padding: 7px 15px;
  font-size: 12px;
  font-weight: 500;
  border-radius: 7px;
}

@media screen and (max-width: 768px) {
  .tegItem {
    padding: 4px 7px;
  }
}

@media screen and (max-width: 550px) {
  .tegItem {
    font-size: 10px;
  }
}


.careerCard {
  padding: 20px 14px 21px;
  border-radius: 10px;
  background: #333333db;
}

.skliIcon {
  padding-top: 1.3rem;
  gap: 20px;
}

.company {
  font-size: 23px;
}

@media screen and (max-width:1000px) {
  .company {
    font-size: 20px;
  }
}

.period {
  font-weight: 200;
  font-size: 14px;
  font-family: emoji;
}

.list {
  position: relative;
}

.list li {
  position: relative;
  padding-left: 15px;
  padding-bottom: 0.75rem;
}

@media screen and (max-width:1000px) {
  .list li {
    font-size: 14px;
  }
}


.list li::after {
  position: absolute;
  content: "";
  clear: both;
  width: 9px;
  height: 9px;
  background: #535353;
  border-radius: 30px;
  top: 7px;
  left: 0;
  margin-top: -1px;
}

.deac {
  color: #bababa;
  display: vb;
  display: block;
  width: 100%;
  padding-top: 4rem;
  font-size: 11px;
}

.projectinner {
  justify-content: flex-start;
  gap: 10px;
  margin-left: 20rem;
}

@media screen and (max-width:1440px) {
  .portfolio_inner {
    margin-top: 2rem;
    flex-direction: column;
    margin-left: 0;
    min-height: inherit;
    padding-bottom: 8rem
  }
}

@media screen and (max-width:768px) {
  .portfolio_inner {
    padding-bottom: 4rem;
  }
}


.careerInner {
  margin-left: 20rem;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* overflow-x: auto;
  height: 91vh; */
  gap: 34px;
}

@media screen and (max-width:1440px) {
  .careerInner {
    margin-top: 2rem;
    margin-left: 0;
  }
}

.educationInner {
  justify-content: flex-start;
  gap: 34px;
  margin-left: 20rem;
}

@media screen and (max-width:1440px) {
  .educationInner {
    margin-top: 2rem;
    flex-direction: column;
    margin-left: 0;
  }
}

.educationCard {
  flex-wrap: wrap;
  width: 31%;
  gap: 15px;
}

@media screen and (max-width:1500px) {
  .educationCard {
    width: 100%;
    flex-direction: column;
  }
}

.section4 {
  /* background-color: #f5f5f7; */
  padding: 6rem 0 3rem 0;
}

@media screen and (max-width:640px) {
  .section4 {
    padding: 6rem 0 8rem 0;
  }
}

.ending {
  display: block;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.ending strong {
  display: block;
  font-size: 7rem;
  text-align: center;
  padding-top: 7rem;
}

@media screen and (max-width:990px) {
  .ending strong {
    font-size: 6rem;
  }
}

@media screen and (max-width: 768px) {
  .ending strong {
    padding-top: 0rem;
    font-size: 3rem;
  }
}

.ending span {
  display: block;
  font-size: 3rem;
  text-align: center;
  margin-top: -3rem;
}

@media screen and (max-width:990px) {
  .ending span {
    font-size: 2rem;
    margin-top: -2rem;
  }
}

@media screen and (max-width: 768px) {
  .ending span {
    font-size: 1rem;
    margin-top: -10px;
  }
}

.endingDeac {
  text-align: center;
  display: block;
  padding: 39px 0 14px 0;
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .endingDeac {
    font-size: 12px;
  }
}

@media screen and (max-width: 320px) {
  .endingDeac {
    margin: 0 auto;
    width: 80%;
    font-size: 14px;
  }
}

.endingImg {
  max-width: 300px;
  width: 100%;
}

@media screen and (max-width:990px) {
  .endingImg {
    max-width: 246px;
  }
}


.gitImages {
  max-width: 40px;
  width: 100%;
}

.ending .Copyright {
  font-size: 13px;
  display: block;
  text-align: center;
  font-weight: 200;
  padding-top: 3rem;
  font-family: sans-serif;
}

.fixed-icon {
  position: fixed;
  bottom: 20px;
  right: 40px;
  z-index: 1000;
}

@media screen and (max-width:640px) {
  .fixed-icon {
    right: 4px;
  }
}

.fixed-icon .btn img {
  max-width: 40px;
  width: 100%;
  background: #fff;
  border-radius: 30px;
}

.fixed-icon .btn a {
  font-size: 11px;
  position: relative;
  padding: 0 5px;
  font-weight: 600;
  font-family: sans-serif;
}

.fixed-icon .btn:hover a::before {
  content: "Github";
  clear: both;
  position: absolute;
  width: 20px;
  height: 20px;
  right: 27px;
  top: 31px;
  z-index: 100;
  color: #fff;
  transition: all 0.5s;
}

/* .section0 .btn a::after{
  content: "Github";
  clear: both;
  position: absolute;
  background: url(./images/icons/cursor.svg) no-repeat;
  width: 20px;
  height: 20px;
  right: -33px;
  top: 0;
  z-index: 100;
} */

.topBtn {
  width: 36px;
  height: 36px;
  background: #fff;
  border-radius: 30px;
  padding: 5px;
}

.btn img:hover,
.topBtn img:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* 스크롤바 스타일링 */
::-webkit-scrollbar {
  width: 12px;
  /* 너비 설정 */
  height: 20px;
  /* 높이 설정 */
}

/* 스크롤바 트랙 */
::-webkit-scrollbar-track {
  background: #c4c4c4;
  /* 트랙 배경색 */
}

/* 스크롤바 핸들 */
::-webkit-scrollbar-thumb {
  background: #fff;
  /* 핸들 색상 */
  border-radius: 5px;
  /* 둥근 모서리 */
}

.project-text {
  padding: 20px 14px 21px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-text-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* 팝업 내용 */
.headerComm {
  position: relative;
  min-height: 556px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  background: #002b41;
}

@media screen and (max-width:1200px) {
  .headerComm {
    min-height: 529px;
  }
}

@media screen and (max-width:990px) {
  .headerComm {
    min-height: 472px;
  }
}

@media screen and (max-width:768px) {
  .headerComm {
    min-height: 385px;
    padding: 0 1rem;
  }
}

@media screen and (max-width:321px) {
  .headerComm {
    min-height: 340px;
  }
}

.headerComm .headerTitle {
  font-family: 'GmarketSansMedium';
  padding: 1rem 0 1rem 0;
  font-size: 2.7rem;
  color: #e9e9e9;
}

@media screen and (max-width:1200px) {
  .headerComm .headerTitle {
    font-size: 2.1rem;
  }
}

@media screen and (max-width:426px) {
  .headerComm .headerTitle {
    padding: 0;
  }
}

.headerComm .tagLlist {
  padding-top: 100px;
}

.headerComm .image {
  position: absolute;
  max-width: 695px;
  bottom: -266px;
  left: 21%;
  /* transform: translate(-50%, -50%); */
  background: transparent;
  width: 100%;
  margin: 0 auto;
  left: 0;
  right: 0;
}

@media screen and (max-width:1633px) {
  .headerComm .image {
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
}

@media screen and (max-width:1200px) {
  .headerComm .image {
    width: 60%;
    bottom: -93px;
  }
}

@media screen and (max-width:990px) {
  .headerComm .image {
    bottom: -113px;
  }
}

@media screen and (max-width: 768px) {
  .headerComm .image {
    bottom: -44px;
  }
}

@media screen and (max-width: 426px) {
  .headerComm .image {
    bottom: -72px;
  }
}

.bodyComm {
  padding-top: 20rem;
  padding-bottom: 1rem;
  background: #fff;
}

@media screen and (max-width:1200px) {
  .bodyComm {
    padding-top: 9rem;
  }
}

/* @media screen and (max-width: 768px) {
  .bodyComm {
    padding-top: 6rem;
  }
} */

.itemComm .bodyTitle {
  display: block;
  font-size: 1.21rem;
  font-weight: 600;
  font-family: 'GmarketSansMedium';
  padding-bottom: 15px;
}

@media screen and (max-width:990px) {
  .itemComm .bodyTitle {
    font-size: 1rem;
  }
}

.itemComm {
  width: 80%;
  margin: 0 auto 4rem auto;
}

@media screen and (max-width:990px) {
  .itemComm {
    width: 87%;
    margin: 0 auto 2rem auto;
  }
}

.popupContents .headerComm .tegItem {
  background: #00123dcf;
}

.itemComm p {
  position: relative;
  display: block;
  width: 100%;
  padding-bottom: 12px;
  padding-left: 20px;
  font-size: 15px;
}

@media screen and (max-width:1200px) {
  .itemComm p {
    font-size: 14px;
  }
}

@media screen and (max-width:990px) {
  .itemComm p {
    font-size: 12px;
  }
}

.itemComm p::before {
  content: "";
  clear: both;
  position: absolute;
  left: 0;
  top: 11px;
  width: 6px;
  height: 6px;
  background-color: rgb(51 51 51 / 73%);
  border-radius: 30px;
}

.bg {
  display: inline-block;
  background-color: rgb(239, 239, 241);
  border-right: 12px;
  padding: 4px 9px;
}

.funday {
  background: #67b0d5;
}


@media screen and (max-width: 768px) {
  .headerJaramc .image {
    bottom: -111px;
  }
}

@media screen and (max-width: 425px) {
  .headerJaramc .image {
    bottom: -68px;
  }
}

.popupContents .funday .tegItem {
  color: #ffffff;
  background: #3083ad;
}

@media screen and (max-width: 768px) {
  .funday .image {
    bottom: -129px;
  }
}

@media screen and (max-width: 426px) {
  .funday .image {
    bottom: -56px;
  }
}

.headerPark {
  background: #d35721f5;
}

@media screen and (max-width: 1200px) {
  .headerPark {
    min-height: 529px;
  }
}

@media screen and (max-width: 990px) {
  .headerPark {
    min-height: 417px;
  }
}

@media screen and (max-width: 768px) {
  .headerPark {
    min-height: 385px;
  }
}

@media screen and (max-width: 550px) {
  .headerPark {
    min-height: 446px;
  }
}

.popupContents .headerPark .tegItem {
  border: 1px solid rgb(255 255 255 / 37%);
  background: #ff6a2a;
}

.headerPark .headerTitle {
  padding: 0 0 1rem 0;
}

.headerPark .image {
  bottom: -33%;
  width: 100%;
  margin: 0 auto;
  left: 0;
  right: 0;
}

@media screen and (max-width: 1200px) {
  .headerPark .image {
    width: 60%;
    bottom: -45px;
  }
}

@media screen and (max-width: 990px) {
  .headerPark .image {
    width: 60%;
    bottom: -79px;
  }
}

@media screen and (max-width: 550px) {
  .headerPark .image {
    width: 83%;
    bottom: -62px;
  }
}

.bodyPark {
  padding-top: 18rem;
}

@media screen and (max-width: 1200px) {
  .bodyPark {
    padding-top: 9rem;
  }
}

@media screen and (max-width: 768px) {
  .bodyPark {
    padding-top: 6rem;
  }
}

.headerSoribit {
  background: #d9b022;
}

@media screen and (max-width: 1200px) {
  .headerSoribit {
    min-height: 529px;
  }
}

@media screen and (max-width: 990px) {
  .headerSoribit {
    min-height: 426px;
  }
}

@media screen and (max-width: 768px) {
  .headerSoribit {
    min-height: 385px;
  }
}

@media screen and (max-width: 640px) {
  .headerSoribit {
    min-height: 340px;
  }
}

.headerSoribit .headerTitle {
  padding: 0 0 1rem 0;
}

.headerSoribit .image {
  bottom: -39%;
  width: 100%;
  margin: 0 auto;
  left: 0;
  right: 0;
}

@media screen and (max-width: 1200px) {
  .headerSoribit .image {
    width: 60%;
    bottom: -45px;
  }
}

@media screen and (max-width: 768px) {
  .headerSoribit .image {
    width: 77%;
    bottom: -131px;
  }
}

@media screen and (max-width: 640px) {
  .headerSoribit .image {
    bottom: -114px;
  }
}

@media screen and (max-width: 550px) {
  .headerSoribit .image {
    bottom: -184px;
  }
}

@media screen and (max-width: 426px) {
  .headerSoribit .image {
    bottom: -115px;
  }
}

.bodySoribit {
  padding-top: 17rem;
}

@media screen and (max-width: 1200px) {
  .bodySoribit {
    padding-top: 9rem;
  }
}

@media screen and (max-width: 768px) {
  .bodySoribit {
    padding-top: 12rem;
  }
}

.popupContents {
  height: 100%;
}

.popupContents .headerSoribit .tegItem {
  background: #efefef;
  color: #333;
  font-weight: 700;
}

.headerSeouledc {
  background: #004135;
}

@media screen and (max-width:768px) {
  .headerSeouledc {
    min-height: 469px;
  }
}

@media screen and (max-width: 440px) {
  .headerSeouledc {
    min-height: 438px;
  }
}

.popupContents .headerSeouledc .tegItem {
  background: #46a768cf;
}

.headerSeouledc .image {
  width: 100%;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: -237px;
}

@media screen and (max-width: 1200px) {
  .headerSeouledc .image {
    width: 60%;
    bottom: -45px;
  }
}

@media screen and (max-width: 768px) {
  .headerSeouledc .image {
    width: 77%;
    bottom: -63px;
  }
}

@media screen and (max-width: 640px) {
  .headerSeouledc .image {
    bottom: -59px;
  }
}

@media screen and (max-width: 440px) {
  .headerSeouledc .image {
    bottom: -38px;
  }
}

.bodySeouledc {
  padding-top: 18rem;
}


@media screen and (max-width: 1200px) {
  .bodySeouledc {
    padding-top: 9rem;
  }
}

@media screen and (max-width: 768px) {
  .bodySeouledc {
    padding-top: 6rem;
  }
}

.headerMedif {
  background: #02144f;
}

@media screen and (max-width: 1200px) {
  .headerMedif {
    min-height: 529px;
  }
}

@media screen and (max-width: 990px) {
  .headerMedif {
    min-height: 472px;
  }
}


@media screen and (max-width: 768px) {
  .headerMedif {
    min-height: 385px;
  }
}

.headerMedif .image {
  bottom: -39%;
  width: 100%;
  margin: 0 auto;
  left: 0;
  right: 0;
}

@media screen and (max-width: 1200px) {
  .headerMedif .image {
    width: 60%;
    bottom: -93px;
  }
}

@media screen and (max-width: 370px) {
  .headerMedif .image {
    bottom: -44px;
  }
}

.popupContents .headerMedif .tegItem {
  border: 1px solid rgb(199 199 199 / 19%);
  background: #031b6b;
}

@media screen and (max-width: 768px) {
  .bodyMedif {
    padding-top: 8rem;
  }
}

.headerLotte {
  background: #8f001a;
  justify-content: center;
}

.popupContents .headerLotte .tegItem {
  background: #af5858;
}

.bodyLottom {
  padding-top: 5rem;
}

.sm-text {
  font-size: 13px;
  text-decoration: underline;
  background: #ffe6e6;
  padding: 4px;
}

.color-white {
  color: #fff;
}

.soriaImag {
  object-fit: cover;
  height: 260px;
  width: 100%;
}

@media screen and (max-width:1490px) {
  .soriaImag {
    height: 217px;
  }
}

@media screen and (max-width:831px) {
  .soriaImag {
    height: 260px;
  }
}

@media screen and (max-width:632px) {
  .soriaImag {
    height: auto;
  }
}

.soria {
  background: #78b1a9;
}

.popupContents .soria .tegItem {
  background: #1f664e
}

@media screen and (max-width: 768px) {
  .soria .image {
    bottom: -111px;
  }
}

@media screen and (max-width: 400px) {
  .soria .image {
    bottom: -58px;
  }
}

.tit-item {
  display: block;
  padding: 1rem 0;
}

/*  */
body {
  --bg-color: #222;
    background-color: var(--bg-color);
    transition: background 1s ease;
}
/* parallax__cont */
#parallax__cont {
    width: 100%;
}
.parallax__item {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;    
    justify-content: center;
    position: relative;
}
.parallax__item__num {
    font-size: 50px;
}
.parallax__item__desc {
    font-size: 3vw;
    line-height: 1.4;
    margin-top: 10vw;
    margin-left: -4vw;
    margin-right: 2vw;
    z-index: 100;
    position: absolute;
    left: 50%;
    top: 50%;
    word-break: keep-all;
}

  /* option */
#parallax__cont {
  overflow: hidden;
}
#horizontal {
    display: flex;
    flex-wrap: nowrap;
    width: 500%;
}
#horizontal > section {
    width: 100%;
}

.fixed-text {
  position: fixed;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
  font-size: 18px; /* 글자 크기 명시 */
  width: auto; /* 내용에 맞게 너비 조정 */
  min-width: 60px; /* 최소 너비 설정 */
  text-align: center; /* 텍스트 중앙 정렬 */
  height: 100%;
}

.section1 {
    min-height: 100vh;
    /* background-color: #FEAC5E; */
    position: relative;
    color:#000;
}
.content-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}
.mainTitle, .title, .mainSubTitle {
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
.image-mo {
    transition: transform 0.3s ease;
    margin-bottom: 2rem;
}
.tag span {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 5px 10px;
    border-radius: 20px;
    display: inline-block;
    margin: 0.25rem;
}
/* .section2 .sec2Title,
.section2 .titleSm,
.section2 .skill-images > div {
  opacity: 0;
  transform: translateY(30px);
} */

.parallax__item {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.parallax__item__num {
  font-size: 5vw;
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-family: "Lato";
  font-weight: 100;
  z-index: 100;
  line-height: 1;
}

.parallax__item__imgWrap {
  width: 30%;
  padding-bottom: 18%;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

#section1{
  background-color: #0B1A2E;
}

#section1 .parallax__item__text {
  font-size: 5vw;
  text-transform: uppercase;
  font-weight: bold;
}

#section1 .parallax__item__img {
  position: absolute;
  left: -5%; 
  top: -5%;
  width: 110%;
  height: 110%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  filter: saturate(0%);
  transition: all 1s;
}

#section2{
  background-color: #111;
}

#section2 .parallax__item__text {
  font-size: 5vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #111;
  color: #E3E3E3;
  padding: 30px;
  width: 100%;
  text-align: center;
}

#section2 .parallax__item__img {
  position: absolute;
  left: -5%; 
  top: -5%;
  width: 110%;
  height: 110%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  filter: saturate(0%);
  transition: all 1s;
}

#section3{
  background-color: #424242;
  color: #fff;
}

#section3 .parallax__item__img {
  background-image: url(/public/images/sc3-bg.png);
}

#section3 .parallax__item__img {
  position: inherit;
    width: 10vw;
    height: 10vw;
    margin: 1vw;
    background-color: #fff;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

#section4{
  background-color: #1f1f1f;
  color: #fff;
}

#section4 .parallax__item__img {
  position: absolute;
  left: -5%; 
  top: -5%;
  width: 110%;
  height: 110%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  filter: saturate(0%);
  transition: all 1s;
}

#section4.parallax__item {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 10rem;
}

#section5{
  background-color: #111;
  color: #fff;
}

#section5 .parallax__item__img {
  position: absolute;
  left: -5%; 
  top: -5%;
  width: 110%;
  height: 110%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  filter: saturate(0%);
  transition: all 1s;
}

#section6{
  background-color: #111;
  color: #fff;
}

#section6 .parallax__item__img {
  position: absolute;
  left: -5%; 
  top: -5%;
  width: 110%;
  height: 110%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  filter: saturate(0%);
  transition: all 1s;
}

#section7{
  background-color: #FFF;
  color: #000;
}

#section7 .parallax__item__img {
  position: absolute;
  left: -5%; 
  top: -5%;
  width: 110%;
  height: 110%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  filter: saturate(0%);
  transition: all 1s;
}

#section8{
  background-color: #294774;
  color: #000;
  border-radius: 30px 30px 0 0;
}

#section8 .parallax__item__img {
  position: absolute;
  left: -5%; 
  top: -5%;
  width: 110%;
  height: 110%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  filter: saturate(0%);
  transition: all 1s;
}

#section9 {
  background-color: #111;
  color: #fff;
}

#section9 .parallax__item {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#section9 .parallax__item__img {
  width: 10vw;
  height: 10vw;
  margin: 1vw;
  background-color: #fff;
  background-size: cover;
  background-position: center;
}

#section9 .parallax__item__img {
  width: auto;
  height: 100px;
  border-radius: 50px;
  font-weight: bold;
  font-size: 3rem;
  background-color: transparent;
  color: #fff;
}


#parallax__cont {
  overflow: hidden;
}

#horizontal {
  display: flex;
  flex-wrap: nowrap;
  width: 500%;
}

#horizontal > section {
  width: 100%;
}