// index.html Component style
.header-nav{
  width: 100%;
  border-bottom: 1px solid #ccc;
  // height: 50px;
  background: #2d2d2d;
  .nav{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    .btn-toggle{
      display: inline-block;
      cursor: pointer;
      position: relative;
      right: 0;
      top: 0;
      width: 100%;
      max-width: 50px;
      height: auto;
      cursor: pointer;
      img{
        display: block;
        width: 100%;
        max-width: 50px;
      }
      &::after{
        position: absolute;
        content: "";
        clear: both;
        width: 24px;
        height: 24px;
        background-color: #3E3E3E;
        border-radius: 6px;
        top: 0;
        right: 1px;
        border-radius: 12px 13px 13px 12px;
      }
    }
    .on{
      display: block;
      &::after{
        position: absolute;
        content: "";
        clear: both;
        width: 24px;
        height: 24px;
        background-color: #F6E650;
        border-radius: 6px;
        top: 0;
        left: 1px;
        border-radius: 12px 13px 13px 12px;
      }
    }
  }
}
.content {
  position: relative;
  .sec1 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #2d2d2d;
  > h2 {
    font-size: 39em;
    font-family: "GmarketSansMedium";
    color: #fff;
    font-weight: 700;
    display: flex;
    -webkit-box-reflect: below -24px linear-gradient(transparent, rgba(32, 32, 32, 0.49));
    transition: 0.5s;
    transform: scale(1.4);
    @media (max-width: 1100px) {
      h2 {
        font-size: 5em;
      }
    }

    @media (max-width: 1000px) {
      h2 {
        font-size: 4em;
      }
    }

    @media (max-width: 900px) {
      h2 {
        font-size: 3em;
      }
    }

    @media (max-width: 600px) {
      h2 {
        font-size: 2em;
      }
    }

    @media (max-width: 420px) {
      h2 {
        font-size: 1.8em;
      }
    }
      span:nth-child(-n+8) {
        color: #ED8585;
        font-weight: 700;
      }
    }
    .spanText {
      font-family: "GmarketSansMedium";
      font-size: 46px;
      font-weight: 800;
      text-align: left;
      color: #fff;
    }
  }
  .sec2{
    position: absolute;
    left: 50%;
    top: 11%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .image{
      max-width: 40px;
      width: 100%;
      height: 100%;
      img{
        width: 100%;
        height: auto;
        object-fit: contain;
      }
    }
    .downText{
      position: relative;
      font-family: "GmarketSansMedium", sans-serif;
      display: block;
      width:100%;
      padding-top: 15px;
      font-size: 20px;
      color: #fff;
      &::after{
        display: inline-block;
        width: 100%;
        position: absolute;
        content: "Scroll Down";
        font-family: "Montserrat", sans-serif;
        clear: both;
        left: 2px;
        top: 14px;
        font-size: 23px;
        color: #8d866d;
        font-weight: 800;
        letter-spacing: -0.9px;
        width: 180px;
      }
    }
    .arrow-container {
      position: relative;
      width: 30px;
      height: 100px;
      .arrow {
        width: 40px;
        height: auto;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-52%, -28%);
        animation: scrollDown 1s infinite;
    }
    .arrow1 {
      width: 33px;
      height: auto;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-52%, -18%);
      animation: scrollDown-1 1s infinite;
    }
  }

  @keyframes scrollDown {
      0% {
          top: 0;
          opacity: 1;
      }
      50% {
          top: 20px;
          opacity: 0.5;
      }
      100% {
          top: 40px;
          opacity: 0;
      }
  }
  @keyframes scrollDown-1 {
    0% {
        top: 0;
        opacity: 1;
    }
    50% {
        top: 30px;
        opacity: 0.5;
    }
    100% {
        top: 50px;
        opacity: 0;
    }
  }
  }
  .sec3{
    background: url(../images/sc3-bg.png) no-repeat center;
    width: 100%;
    min-height: 800px;
    background-size: cover;
    .iconBox-item{
      display:flex;
      justify-content: space-around;
      gap: 50px;
      .items{
        padding: 0 42px;
       background-color: #fff;
        border-radius: 16px;
        .sec3Title{
          .strong{
            display:block;
            width: 100%;
            font-size: 20px;
            font-weight: bold;
            color: #000;
          }
        }
        .imageWrap{
          display: flex;
          flex-wrap: wrap;
          align-items: flex-start;
        }
      }
      .itmes-item{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap:30px;
      }
    }
  }
}
  .Sec4{
    background-color: #fff;
    .Gfont-title{
      padding-top: 50px;
      padding-bottom: 20px;
      background-color: #2d2d2d;
      color: #fff;
    }

    .sec4Header{
      padding-top: 100px;
      padding-left: 100px;
      display: flex;
      align-items: flex-start;
      background: url(../images/historybg.png) no-repeat center ;
      background-size: cover;
      // max-width: 1400px;
      width: 100%;
      height: 300px;
      .image{
        display: inline-block;
        max-width: 189px;
        width: 100%;
        height: 230px;
        padding-right: 27px;
        padding-top: 31px;
        img{
          display: inline-block;
          width: 100%;
        }
      }
    }
    .padding{
      padding: 100px 100px 0 51px;
    }
    .AboutMe{
      h3{
        color: #000;
      }
      p{
        color: #000;
      }
    }
    .profileWrap{
      h3,span,p{
        color: #000;
      }
      .proFileCont{
        span{
          padding-top: 18px;
          +span{
            padding-top: 15px;
          }
        }
      }
      .Educations{
        .items{
          strong{
            display: block;
            padding-top: 14px;
            color: #000;
            font-weight: bold;
            font-size: 2.2rem;
          }
        }
        .items-1{
          strong{
            padding-top: 30px;
          }
        }

      }
    }
  }
