@charset "utf-8";

#skip > ul > li > a {
	position: relative;
	display: block;
	top: 0;
	margin-bottom: -1px;
	width: 100%;
	height: 0;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	overflow: hidden;
	z-index: 600;
	transition: none;
}
#skip > ul > li > a:focus,
#skip > ul > li > a:active {
	height: 45px;
	line-height: 45px;
	color: #fff;
	background: #666;
	transition: none;
}

/* 메인페이지 네비게이션 */
#Home_nav {
	max-width: 1920px;
	width: 100%;
	margin: 0 auto;
	background: #fff;
	border-bottom: 1px solid rgb(183 183 183 / 74%);
	box-sizing: border-box;
}

.nav_inner .home_logo {
	position: relative;
}

.nav_inner .home_logo h1 {
	position: absolute;
	top: 0;
	left: 0;
	text-indent: -99999px;
	font: 0;
}

.nav_inner .home_logo h1 img {
	display: none;
}

.home_nav .nav_wrap ul {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 16px 50px;
}

.home_nav .nav_wrap ul li {
	position: relative;
	display: inline-block;
	padding: 10px;
}

.home_nav .nav_wrap ul li:hover a::after {
	content: 'Q';
	display: inline-block;
	width: 18px;
	height: 17px;
	position: absolute;
	right: -5px;
	top: 2px;
	background-color: rgba(124, 190, 18);
	border-radius: 20px;
	font-size: 16px;
	text-align: center;
	color: #fff;
}

.home_nav .nav_wrap ul li + li {
	margin-left: 30px;
}

.home_nav .nav_wrap ul li a {
	display: block;
	width: 100%;
	text-align: center;
	font-size: 22px;
	color: #333;
	font-weight: bold;
}

.home_nav .nav_wrap ul li:first-child a {
	color: rgba(124, 190, 18);
}

/* 푸터 시작*/
.footer {
	display: block;
	max-width: 1920px;
	width: 100%;
	margin: 0 auto;
	background-color: #000;
}

.footer_wrap {
	max-width: 1280px;
	width: 100%;
	margin: 0 auto;
}

.foo_area {
	display: flex;
	justify-content: space-between;
	padding: 40px 0;
}

.txt_box {
	line-height: 1.75;
}

.foo_inner .foo_txt {
	display: inline-block;
}

.foo_inner .foo_txt + .foo_txt {
	margin-left: 15px;
}

.foo_inner .foo_txt span.blod {
	font-weight: 700;
}

.foo_inner .foo_txt span {
	size: 14px;
	font-weight: 400;
	color: #fff;
}

.foo_sns .youtube {
	display: inline-block;
	background: url(../images/pc/w_youtube.png) no-repeat center;
	width: 35px;
	height: 35px;
	cursor: pointer;
}

.foo_sns .blog {
	display: inline-block;
	background: url(../images/pc/w_blog.png) no-repeat center;
	width: 35px;
	height: 35px;
	cursor: pointer;
}

.foo_sns .instagram {
	display: inline-block;
	background: url(../images/pc/w_instagram.png) no-repeat center;
	width: 35px;
	height: 35px;
	cursor: pointer;
}

.foo_sns span {
	position: absolute;
	left: 0;
	top: 0;
	text-indent: -9999px;
}

.foo_btn {
	padding-bottom: 30px;
}

.foo_btn button {
	width: 100%;
	display: inline-block;
	text-align: left;
	background-color: #000;
	border: 0;
}

.foo_btn button span {
	display: inline-block;
	color: #fff;
	font-size: 15px;
	border: 1px solid rgb(183 183 183 / 74%);
	border-radius: 20px;
	padding: 8px 20px;
}

.copyright {
	color: rgba(255, 255, 255, 0.3);
	font-size: 14px;
	font-weight: 400;
}

.copyright span {
	font-weight: 700;
}
/* 푸터 끝 */

/* 본문 공통 시작 */

.ml-10 {
	margin-left: 10px;
}
.txt_blod {
	display: inline-block;
	font-weight: 700;
}
