@charset "utf-8";
/**************************
@Filename: adm.bbs.css
@Version : 1.0
@Author  : Freemaster
@Date  : 2016/05/27
@Content : PHP by Editplus
**************************/

/* 게시판 둘레 영역 */
.container_wr .inner{/*width:1100px;*/position:relative;}

.width45p{width:45%;}
.width50p{width:50%;}
.width80p{width:80%;}
.width90p{width:90%;}
.width95p{width:95%;}
.bbsInput{height:27px;line-height:25px;border:1px solid #d5d5d5;}

/* 현재 페이지 영역 */
.local_desc03 {margin:10px 0 10px ;padding:10px 20px;border:1px solid #f2f2f2;background:#f9f9f9}
.local_desc03 strong {color:#ff3061}
.local_desc03 a {text-decoration:none;}
.local_desc03 .board_user_page{position:absolute;display:inline-block;right:2%}
.local_desc03 .ov_listall2{display:inline-block;line-height:30px;height:30px;font-size:0.92em;background:#DDDDDD;color:#000;vertical-align:top;border-radius:5px;padding:0 7px;font-weight:bold; }
a.ov_listall2:hover{background:#666666;color:#fff;}

/* 글쓰기 버튼 */
.newWrite{
    display: inline-block;
    vertical-align: top;
    text-align: right;
    /* margin-left: 200px; */
    position: absolute;
    right: 1%;
}

/* 검색 체크박스 */
.fsearch .chkArea{display:inline-block;margin:0 5px;padding:6px; background:#e5e5e5;vertical-align:middle;}
.fsearch .chkArea label{cursor:pointer;}
.fsearch .chkArea input[type="radio"]{margin-right:2px;}

/* 검색결과 색상 */
.sch_word {color:#00c4ac}
