!.gitignore
*.sh
!www/perms.sh
/.htaccess
.idea/
.vscode/
www/data/
www/test/
www/sirgle/
www/test.php
www/install/
www/node_modules/
www/config.php
*.key
log
g5_tree
cheditor5.*/
!ckeditor*/
log/
g5_tree/
naver*.html
initests01/
SIRsoft000/
pma/
*.mp4
*.mp3
*.avi
*.wmv
*.mwa
*.asf
*.m4v
*.mkv
*.mov
*.webm
package.lock.json
